.dash-top{
    .card.card-widget{
        text-align: center;
        @include anim05;
        transform: translateZ(0);
        .body{
            .card-content{
                text-align: center;
                padding:30px 0;
                .card-icon{
                    width:80px;
                    height: 80px;
                    display: flex;
                    flex-direction: column;
                    justify-content: center;
                    align-items: center;
                    margin:0 auto;
                    background-color: rgba($color-orange, 0.7);
                    @include radius50;
                    -ms-box-shadow: 0 1px 6px 0 rgba($color-orange, 0.4);
                    -moz-box-shadow: 0 1px 6px 0 rgba($color-orange, 0.4);
                    -webkit-box-shadow: 0 1px 6px 0 rgba($color-orange, 0.4);
                    box-shadow: 0 1px 6px 0 rgba($color-orange, 0.4);
                    @include anim05;
                    i{
                        font-size:2.5rem;
                        font-weight: 600;
                        color: rgba($color-white, 0.9);
                        @include anim05;
                    }
                }
                .card-text{
                    color:$color-primary;
                    
                    h3{
                        font-weight: 600;  
                        margin:15px 0;
                        
                    }
                    h5{
                        text-transform: uppercase;
                        font-size:0.775rem;
                        color:$color-secondary;
                        @include anim05;
                        font-weight: 600;
                    }
                }
            }
        }
        &:hover{
            transform: translate(0, -4px);
            .body{
                .card-content{
                    .card-icon{
                        -ms-box-shadow: 0 1px 13px 0 rgba($color-secondary, 0.4);
                        -moz-box-shadow: 0 1px 13px 0 rgba($color-secondary, 0.4);
                        -webkit-box-shadow: 0 1px 13px 0 rgba($color-secondary, 0.4);
                        box-shadow: 0 1px 13px 0 rgba($color-secondary, 0.4);
                    }
                    .card-text{
                        h5{
                            color:$color-orange;
                        }
                    }
                }
            }
        }
        
    }
    
}
