{% extends 'core/base.html' %}

{% block title %}ActivityGroup Create{% endblock %}

{% block content %}
<section class="content">
    <div class="block-header">
        <div class="row">
            <div class="col-lg-7 col-md-6 col-sm-12">
                <h2>Activity group</h2>
                <ul class="breadcrumb">
                    <li class="breadcrumb-item"><a href="{% url 'home' %}"><i class="la la-home"></i> Practical Action</a></li>
                    <li class="breadcrumb-item"><a href="{% url 'home' %}">Project</a></li>
                    <li class="breadcrumb-item"><a href="{% url 'activitygroup_list' %}">Activity Group list</a></li>
                    <li class="breadcrumb-item active">{% if form.instance.id %}Edit{% else %}Add{% endif %} Activity Group</li>
                </ul>
                <button class="btn btn-primary btn-icon mobile_menu" type="button"><i class="la la-navicon"></i></button>
            </div>
            <div class="col-lg-5 col-md-6 col-sm-12">                
                <button class="btn btn-primary float-right right_icon_toggle_btn" type="button"><i class="la la-arrow-right"></i></button>
            </div>
        </div>
    </div>
    <div class="project-form">
        <div class="card">
            <div class="card-body">
                <form method="POST">
                    {% csrf_token %}
                    <div class="form-group">
                        <label>{{ form.name.label }}</label>
                        {{ form.name }}
                    </div>
                    {% if form.name.errors %}
                    <font color="crimson">{{ form.name.errors }}</font>
                    {% endif %}
                    <div class="form-group">
                        <label>{{ form.description.label }}</label>
                        {{ form.description }}
                    </div>
                    {% if form.description.errors %}
                    <font color="crimson">{{ form.description.errors }}</font>
                    {% endif %}
                    <div class="form-group">
                        <label>{{ form.output.label }}</label>
                        <div class="select-option">
                            {{ form.output }}
                        </div>
                    </div>
                    {% if form.output.errors %}
                    <font color="crimson">{{ form.output.errors }}</font>
                    {% endif %}
                    <div class="form-group">
                        <label>{{ form.project.label }}</label>
                        <div class="select-option">
                            {{ form.project }}
                        </div>
                    </div>
                    {% if form.project.errors %}
                    <font color="crimson">{{ form.project.errors }}</font>
                    {% endif %}
                    <div class="form-group">
                        <label>{{ form.weight.label }}</label>
                        {{ form.weight }}
                    </div>
                    {% if form.weight.errors %}
                    <font color="crimson">{{ form.weight.errors }}</font>
                    {% endif %}
                    
                    <button type="submit" class="btn btn-xs btn-primary">Submit</button>

                    <!--{% for field in form %}-->

                        <!--<div class="form-group">-->
                            <!--<label class="mylabel">{{ field.label }}</label>-->
                            <!--<font color="crimson">{{ field.errors }}</font>-->
                            <!--{{ field }}-->
                            <!--{{ field.help_text }}-->
                        <!--</div>-->
                    <!--{% endfor %}-->
                    <!--<button type="submit" class="btn btn-xs btn-primary">Submit</button>-->
                    <!--{% for error in form.errors %}-->
                    <!--<label>{{ error }}</label>-->
                    <!--{% endfor %}-->
                </form>
            </div>
        </div>
    </div>
</section>

{% endblock %}