{% extends 'core/base.html' %}

{% block title %}Activity Create{% endblock %}

{% block content %}
<section class="content">
    <div class="formHolder">
        <div class="widget-info margin-top-large">
            <div class="widget-head">
                <div class="widget-body mt-2 horizontalForm">
                    <div class="widget-body">
                        <h3>Activity {% if activity %}Edit{% else %}Add{% endif %}</h3>
                        <form action="" method="POST" enctype="multipart/form-data" novalidate>     {%csrf_token %}
                            {{ form.as_p }}
                            <button type="submit" class="btn btn-xs btn-primary">Submit</button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
{% endblock %}
{% block scripts %}
<script type="text/javascript">
   $(document).ready(function(){
       $('#id_target_number').prop('disabled', true);
       $('#id_target_unit').prop('disabled', true);
       $('#id_beneficiary_level').on('click', function(){
          $('#id_target_number').attr('disabled', $(this).is(':checked'));
          $('#id_target_unit').attr('disabled', $(this).is(':checked'));
       });
    });
</script>
{% endblock %}