{% extends 'core/base.html' %}
{% load static %}

{% block title %}Activity List{% endblock %}

{% block content %}
<!-- Main Content -->
<section class="content">
    <div class="body_scroll">
        <div class="block-header">
            <div class="row">
                <div class="col-lg-7 col-md-6 col-sm-12">
                    <h2>Activity list</h2>
                    <ul class="breadcrumb">
                        <li class="breadcrumb-item"><a href="index.html"><i class="aa la-home"></i> Practical Action</a></li>
                        <li class="breadcrumb-item">Activity</li>
                        <li class="breadcrumb-item active">list</li>
                    </ul>
                    <button class="btn btn-primary btn-icon mobile_menu" type="button"><i class="zmdi zmdi-sort-amount-desc"></i></button>
                </div>
                <div class="col-lg-5 col-md-6 col-sm-12">                
                    <button class="btn btn-primary btn-icon float-right right_icon_toggle_btn" type="button"><i class="la la-arrow-right"></i></button>
                    <a href="{% url 'activity_add' %}" ><button class="btn btn-success btn-icon float-right" type="button"><i class="la la-plus"></i></button></a>
                </div>
            </div>
        </div>
        <div class="container-fluid">
            <div class="row clearfix">
                <div class="col-md-12 col-sm-12 col-xs-12">
                    <div class="card project_list">
                        <div class="table-responsive">
                            <table class="table table-hover c_table theme-color">
                                <thead>
                                    <tr> 
                                        <th>Activity_group</th> 
                                        <th>Name</th>                                        
                                        <th>Description</th>
                                        <th>AG_Id</th>
                                        <th>Target_number</th>
                                        <th>Target_unit</th>
                                        <th>Start_date</th>
                                        <th>End_date</th>
                                        <th>Form</th>
                                        <th>Target_complete</th>
                                        <th>Beneficiary_level</th>
                                        <th>Target_met</th>

                                    </tr>
                                </thead>
                                <tbody>
                                    {% for activity in object_list %}
                                
                                    <tr>
                                       <td>{{ activity.activity_group }}</td>
                                       <td>{{ activity.name }}</td>
                                       <td>{{ activity.description }}</td>
                                       <td>{{ activity.AG_Id }}</td>
                                       <td>{{ activity.target_number }}</td>
                                       <td>{{ activity.target_unit }}</td>
                                       <td>{{ activity.start_date }}</td>
                                       <td>{{ activity.end_date }}</td>
                                       <td>{{ activity.form }}</td>
                                       <td>{{ activity.target_complete }}</td>
                                       <td>{{ activity.beneficiary_level }}</td>
                                       <td>{{ activity.target_met }}</td>
                                    </tr>
                                    {% endfor %}
                                </tbody>
                            </table>
                        </div>
                        <ul class="pagination pagination-primary mt-4">
                            <li class="page-item active"><a class="page-link" href="javascript:void(0);">1</a></li>
                            <li class="page-item"><a class="page-link" href="javascript:void(0);">2</a></li>
                            <li class="page-item"><a class="page-link" href="javascript:void(0);">3</a></li>
                            <li class="page-item"><a class="page-link" href="javascript:void(0);">4</a></li>
                            <li class="page-item"><a class="page-link" href="javascript:void(0);">5</a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

{% endblock %}