{% extends 'core/base.html' %}

{% block title %}Activity Create{% endblock %}

{% block content %}

<section class="content">
    <div class="block-header">
        <div class="row">
            <div class="col-lg-7 col-md-6 col-sm-12">
                <h2>Activities</h2>
                <ul class="breadcrumb">
                    <li class="breadcrumb-item"><a href="index.html"><i class="la la-home"></i> Practical</a></li>
                    <li class="breadcrumb-item active">Activities</li>
                </ul>
                <button class="btn btn-icon mobile_menu" type="button"><i class="la la-navicon"></i></button>
            </div>
            <div class="col-lg-5 col-md-6 col-sm-12">                
                <button class="btn float-right right_icon_toggle_btn" type="button"><i class="la la-arrow-right"></i></button>
            </div>
        </div>
    </div>
    <div class="project-form">
        <div class="card">
            <div class="card-body">
                <form method="POST">
                    {% csrf_token %}
                    {% for field in form %}
                        <div class="form-group">
                            <label class="mylabel">{{ field.label }}</label>
                            <font color="crimson">{{ field.errors }}</font>
                            {{ field }}
                            {{ field.help_text }}
                        </div>
                    {% endfor %}
                    <button type="submit" class="btn btn-xs btn-primary">Submit</button>
                </form>
            </div>
        </div>
    </div>
</section>
{% endblock %}
{% block scripts %}
<script type="text/javascript">
   $(document).ready(function(){
       $('#5').hide();
       $('#6').hide();
       $('#id_beneficiary_level').change(function(){
          if ($(this).is(":checked")){
            $('#5').hide();
            $('#6').hide();
          }
          else{
            $('#5').show();
            $('#6').show();
          }
       });
    });
</script>
{% endblock %}