{% extends 'core/base.html' %}

{% block title %}Activity Create{% endblock %}

{% block content %}
<section class="content">
    <div class="formHolder">
        <div class="widget-info margin-top-large">
            <div class="widget-head">
                <div class="widget-body mt-2 horizontalForm">
                    <div class="widget-body">
                        <h3>Activity {% if activity %}Edit{% else %}Add{% endif %}</h3>
                        <form action="" method="POST" enctype="multipart/form-data" novalidate>
                            {%csrf_token %}
                            {% for field in form %}
                                <div class="form-group" id="{{ forloop.counter }}">
                                    {{ field.label_tag }}
                                    {{ field }}
                                </div>
                            {% endfor %}
                            <button type="submit" class="btn btn-xs btn-primary">Submit</button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
{% endblock %}
{% block scripts %}
<script type="text/javascript">
   $(document).ready(function(){
       $('#5').hide();
       $('#6').hide();
       $('#id_beneficiary_level').change(function(){
          if ($(this).is(":checked")){
            $('#5').hide();
            $('#6').hide();
          }
          else{
            $('#5').show();
            $('#6').show();
          }
       });
    });
</script>
{% endblock %}