{% extends 'core/base.html' %}

{% block title %}Aggregation{% endblock %}
{% load static %}
{% load filters %}
{% block content %}

<section class="content">
    <div class="block-header">
        <div class="row">
            <div class="col-lg-7 col-md-6 col-sm-12">
                <h2>Aggregation View</h2>
                <ul class="breadcrumb">
                        <li class="breadcrumb-item"><a href="{% url 'home' %}"><i class="la la-home"></i> Practical Action</a></li>
                        <li class="breadcrumb-item"><a href="{% url 'home' %}">Project</a></li>
                        <li class="breadcrumb-item active">Aggregation View</li>
                </ul>
                <button class="btn btn-icon mobile_menu" type="button"><i class="la la-navicon"></i></button>
            </div>
            <div class="col-lg-5 col-md-6 col-sm-12">                
                <button class="btn float-right right_icon_toggle_btn" type="button"><i class="la la-arrow-right"></i></button>
            </div>
        </div>
    </div>
    <div class="banificiary-graph">
        <div class="container-fluid">
            <div class="graph-wrapper">
                <a href="{% url 'aggregation-settings' %}" class="btn"><i class="la la-plus"></i> Add More Aggregation Fields</a>
                <div class="graph-column" style="padding:0px;">
                    <div class="row">
                        {% for aggregate in aggregations %}
                        <div class="col-lg-5">
                            <div class="project-list">
                                <div class="card" style="min-height:306px;">
                                    <div class="card-header">
                                        <h5>{{ aggregate.name }}</h5>
                                    </div>
                                    <div class="card-body">
                                        <ul>
                                            {% for item in aggregate.aggregation_fields %}
                                                {% for name, attributes in item.items %}
                                                    {% for key, value in attributes.items %}
                                                        <li><label>{{ value }} :</label><span>{{ value|get_answer:aggregate }}</span></li>
                                                    {% endfor %}
                                                {% endfor %}
                                                <li><label>Sum :</label>{{ aggregate|get_sum }}</li>
                                            {% endfor %}
                                            {% for history in aggregate.history.all %}
                                                <p>Previous Values till date: {{ history.date }}</p>
                                                {% for key, value in history.aggregation_values %}
                                                    <li><label>{{ key }}: </label><span>{{ value }}</span></li>
                                                {% endfor %}
                                            {% endfor %}
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </div>
                        {% endfor %}
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
{% endblock %}