{% extends 'core/base.html' %}

{% block title %}Aggregation Settings{% endblock %}
{% block content %}
<section class="content">
    <div class="block-header">
        <div class="row">
            <div class="col-lg-7 col-md-6 col-sm-12">
                <h2>Aggregation Setting</h2>
                <ul class="breadcrumb">
                        <li class="breadcrumb-item"><a href="{% url 'home' %}"><i class="la la-home"></i> Practical Action</a></li>
                        <li class="breadcrumb-item"><a href="{% url 'home' %}">Project</a></li>
                        <li class="breadcrumb-item active">Aggregation Settings</li>
                </ul>
                <button class="btn btn-icon mobile_menu" type="button"><i class="la la-navicon"></i></button>
            </div>
            <div class="col-lg-5 col-md-6 col-sm-12">                
                <button class="btn float-right right_icon_toggle_btn" type="button"><i class="la la-arrow-right"></i></button>
            </div>
        </div>
    </div>
    <div class="project-form">
        <div class="card">
            <div class="card-body">
                <form method="POST">
                    {% csrf_token %}
                    <div class="form-group">
                        <label>Aggregation Name</label>
                        {% if aggregation %}
                            <input type="text" value="{{ aggregation.name }}" name="aggregation_label" class="form-control">
                        {% else %}
                            <input type="text" name="aggregation_label" class="form-control">
                        {% endif %}
                    </div>
                    <div id="more_fields">
                        {% if aggregation %}
                            {% for form, fields in aggregation.aggregation_fields.0.items %}
                                <div class="form-group">
                                    <label>Form</label>
                                    <select name="{{ forloop.counter }}-act-form" id="{{ forloop.counter }}-act-form" data-id="{{ forloop.counter }}" class="form-control act_form">
                                        {% for item in forms %}
                                            {% if form == item.id_string %}
                                                <option selected value="{{ item.id }}" id_string="{{ item.id_string }}">{{ item.title }}</option>
                                            {% else %}
                                                <option value="{{ item.id }}" id_string="{{ item.id_string }}">{{ item.title }}</option>
                                            {% endif %}
                                        {% endfor %}
                                    </select>
                                </div>

                                <label>Select fields to aggregate</label>
                                <div class="form-group">
                                    <ul id="{{ forloop.counter }}-aggregation-fields">
                                        
                                    </ul>
                                </div>
                            {% endfor %}
                        {% else %}
                            <div class="form-group">
                                <label>Form</label>
                                <select name="1-act-form" id="1-act-form" data-id="1" class="form-control act_form">
                                    {% for item in forms %}
                                        <option value="{{ item.id }}" id_string="{{ item.id_string }}">{{ item.title }}</option>
                                    {% endfor %}
                                </select>
                            </div>

                            <label>Select fields to aggregate</label>
                            <div class="form-group">
                                <ul id="1-aggregation-fields">
                                    
                                </ul>
                            </div>
                        {% endif %}
                        
                    </div>
                    <button type="button" id="add-more-forms" class="btn btn-xs"><i class="la la-plus"></i>Add More Forms</button>
                   
                    <button type="submit" class="btn btn-xs btn-primary">Submit</button>
                </form>
            </div>
        </div>
    </div>
</section>
{% endblock %}
{% block scripts %}
<script>
    // $(document).ready(function(){
    //     var id = $("option:selected", $("#more_fields .act_form")).val();
    //     if(id > 0){
    //         var request_url = '{% url "get-aggregation-fields" %}'
    //         $.ajax({
    //             url: request_url,
    //             type: "GET",
    //             data: {"form_id": id},
    //             dataType: "json",

    //             success: function(response){
    //                 $("#1-aggregation-fields").empty();
    //                 $.each(response, function(key, value){
    //                     $("#aggregation-fields").append('<li><label for=""><input name="' + id + '" type="checkbox" value="' + value.question + '|' + value.label + '">' + value.label + '</label></li>')
    //                 });
    //             }            
    //         });
    //     }
    // });

    $(document).ready(function(){
        $(".act_form").each(function(){
            var data_id = $(this).attr("data-id");
            var id = $("option:selected", this).val();
            var id_string = $("option:selected", this).attr('id_string');
            var request_url = '{% url "get-aggregation-fields" %}'
            $.ajax({
                url: request_url,
                type: "GET",
                data: {"form_id": id},
                dataType: "json",

                success: function(response){
                    $("#{{ data_id }}-aggregation-fields").empty();
                    $.each(response, function(key, value){
                        $("#" + data_id + "-aggregation-fields").append('<li data-value="' + value.question + '|' + value.label + '"><label for=""><input name="' + id + '" type="checkbox" value="' + value.question + '|' + value.label + '">' + value.label + '</label></li>');
                    });   

                    if ("{{aggregation}}" === 0){
                        console.log('asdasdsa');
                    }
                    else {
                        var selected_value = {{aggregation_fields|safe}};
                        var show_values = selected_value[0];
                        $.each(show_values, function(key, value){
                            if (key === id_string){
                                $.each(value, function(question, answer){
                                    $("#" + data_id + "-aggregation-fields li").each(function(){
                                        $(this).attr('data-value');
                                        if ($(this).attr('data-value') == '' + question + '|' + answer + ''){
                                            $(this).remove();
                                        }
                                    })
                                    $("#" + data_id + "-aggregation-fields").append('<li data-value="' + question + '|' + answer + '"><label for=""><input checked name="' + id + '" type="checkbox" value="' + question + '|' + answer + '">' + answer + '</label></li>');
                                })
                            }
                        });
                    }        
                }
                

                
            })
        });
    });
    
    $('#more_fields').on('change', '.act_form', function(){
        var data_id = $(this).attr('data-id');
        var id = $("option:selected", this).val();
        var id_string = $("option:selected", this).attr('id_string');
        var request_url = '{% url "get-aggregation-fields" %}'
        $.ajax({
            url: request_url,
            type: "GET",
            data: {"form_id": id},
            dataType: "json",

            success: function(response){
                $("#" + data_id + "-aggregation-fields").empty();
                $.each(response, function(key, value){
                    $("#" + data_id + "-aggregation-fields").append('<li data-value="' + value.question + '|' + value.label + '"><label for=""><input name="' + id + '" type="checkbox" value="' + value.question + '|' + value.label + '">' + value.label + '</label></li>')
                });           
            }
        });
    });

    $("#add-more-forms").on('click', function(){
        var data_id = $('.act_form').last().attr('data-id');
        var new_data_id = parseInt(data_id) + 1;
        $("#more_fields").append('<div class="form-group"><label>Form</label><select name="'+ new_data_id + '-act-form" id="' + new_data_id + '-act-form" data-id="' + new_data_id +'" class="form-control act_form"></select></div><label>Select fields to aggregate</label><div class="form-group"><ul id="'+ new_data_id + '-aggregation-fields"></ul></div>')
        var forms = {{ add_forms|safe }};
        console.log(forms);
        for (var n=0; n < Object.keys(forms).length; n++){
            $("#"+ new_data_id +"-act-form").append('<option id_string="' + forms[n].id_string + '" value="' + forms[n].id +'">'+ forms[n].title + '</option>')
        }
    })
</script>
{% endblock %}