{% extends 'core/base.html' %}
{% load static %}

{% block title %}Beneficiary List{% endblock %}

{% block content %}

<!-- Main Content -->
<section class="content">
    <div class="body_scroll">
        <div class="block-header">
            <div class="row">
                <div class="col-lg-7 col-md-6 col-sm-12">
                    <h2>Beneficiary list</h2>
                    <ul class="breadcrumb">
                        <li class="breadcrumb-item"><a href="{% url 'home' %}"><i class="la la-home"></i> Practical Action</a></li>
                        <li class="breadcrumb-item"><a href="{% url 'home' %}">Project</a></li>
                        <li class="breadcrumb-item active">Beneficiary list</li>
                    </ul>
                    <button class="btn btn-primary btn-icon mobile_menu" type="button"><i class="la la-navicon"></i></button>
                </div>
                <div class="col-lg-5 col-md-6 col-sm-12">                
                    <button class="btn float-right right_icon_toggle_btn" type="button"><i class="la la-arrow-right"></i></button>
                    <a href="{% url 'beneficiary_add' %}" ><button class="btn btn-success btn-icon float-right" type="button"><i class="la la-plus"></i></button></a>
                </div>
            </div>
        </div>
        <div class="container-fluid">
            <div class="card project_list">
                <div class="table-responsive">
                    <table id="Beneficiary_table" class="table table-hover c_table">
                        <thead>
                            <tr>
                                <th>Project Name</th>
                                <th>District</th>
                                <th>Municipality</th>
                                <th>Cluster</th>
                                <th>Category</th>
                                <th>Vulnerability Type</th>
                                <th>Tranch</th>
                                <th>Construction Phase</th>
                                <th>Types Of House</th>
                                <th>action</th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for beneficiary in object_list %}
                            <tr>
                                <td>{{ beneficiary.name }}</td>
                                <td>{{ beneficiary.district }}</td>
                                <td>{{ beneficiary.municipality }}</td>
                                <td>{{ beneficiary.cluster }}</td>
                                <td>{{ beneficiary.category }}</td>
                                <td>{{ beneficiary.vulnerabilityType }}</td>
                                <td>{{ beneficiary.Tranch }}</td>
                                <td>{{ beneficiary.ConstructionPhase }}</td>
                                <td>{{ beneficiary.Typesofhouse }}</td>
                                <td class="table-action">
                                    <a href="{% url 'beneficiary_delete' beneficiary.pk %}" class="btn remove"> <i class="la la-trash-o"></i> Delete</a>
                                    <a href="{% url 'beneficiary_edit' beneficiary.pk %}" class="btn"> <i class="la la-edit"></i> Edit</a>
                                </td>
                            </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                </div>
                <div class="table-footer">
                    <a class="btn" href="{% url 'beneficiary_add' %}"><i class="la la-plus"></i> Add Beneficiary</a>
<!--                     <ul class="pagination pagination-primary">
                        <li class="page-item active"><a class="page-link" href="javascript:void(0);">1</a></li>
                        <li class="page-item"><a class="page-link" href="javascript:void(0);">2</a></li>
                        <li class="page-item"><a class="page-link" href="javascript:void(0);">3</a></li>
                        <li class="page-item"><a class="page-link" href="javascript:void(0);">4</a></li>
                        <li class="page-item"><a class="page-link" href="javascript:void(0);">5</a></li>
                    </ul> -->
                </div>
                
            </div>
        </div>
    </div>
</section>


{% endblock %}