{% extends 'core/base.html' %}
{% load static %}

{% block title %}Cluster List{% endblock %}

{% block content %}
<!-- Main Content -->

<section class="content">
    <div class="block-header">
        <div class="row">
            <div class="col-lg-7 col-md-6 col-sm-12">
                <h2>Cluster</h2>
                <ul class="breadcrumb">
                    <li class="breadcrumb-item"><a href="{% url 'home' %}"><i class="la la-home"></i> Practical</a></li>
                    <li class="breadcrumb-item active">cluster list</li>
                </ul>
                <button class="btn btn-icon mobile_menu" type="button"><i class="la la-navicon"></i></button>
            </div>
            <div class="col-lg-5 col-md-6 col-sm-12">
                <button class="btn float-right right_icon_toggle_btn" type="button"><i class="la la-arrow-right"></i></button>
                <div class="form-group">
                    <div class="select-option">
                        <select class="custom-select show-tick ms select2" data-placeholder="Select">
                            <option selected>cluster</option>
                            <option>cluster 2</option>
                            <option>cluster 3</option>
                            <option>cluster 4</option>
                        </select>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="accordion-form project-form">
        <div class="card">
            <div class="card-body">
                <form method="post" action="{% url 'cluster_assign'  pk %}">
                    {% csrf_token %}
                    <!-- accordion -->
                    <div class="cluster-accordion">
                        <div id="accordion">
                            {% for object in activity_group %}
                                <div class="card">
                                    <div class="card-header" id="heading-{{ object.id }}">
                                        <h5>
                                            <div class="checkbox">
                                                <input id="ag_id_{{ object.id }}" type="checkbox" class="select-all" name="ag_{{ object.id }}">
                                                <label for="ag_id_{{ object.id }}">{{ object.name }}</label>
                                            </div>
                                            <a class="collapsed" role="button" data-toggle="collapse" href="#collapse-{{ object.id }}" aria-expanded="true"
                                                aria-controls="collapse-{{ object.id }}">
                                            </a>
                                        </h5>
                                    </div>
                                    <div id="collapse-{{ object.id }}" class="collapse show" data-parent="#accordion" aria-labelledby="heading-{{ object.id }}">
                                        <div class="card-body">
                                            {% for item in object.activity.all %}
                                            <div class="form-group">
                                                <div class="checkbox">
                                                    <input id="a_id_{{ item.id }}" type="checkbox" name="a_{{ item.id }}" value="false">
                                                    <label for="a_id_{{ item.id }}">{{ item.name }}</label>
                                                </div>
                                                <button type="button" class="btn btn-sm btn-toggle" data-toggle="button" name="statusChange" onclick="changeValue(this)" aria-pressed="false" autocomplete="off">
                                                    <div class="handle"></div>
                                                </button>
                                            </div>
                                            {% endfor %}
                                        </div>
                                    </div>
                                </div>
                            {% endfor %}
                        </div>
                    </div>
                    <div class="form-footer pull-right">
                        <button type="submit" class="btn">Save</button>
                        <a class="btn remove" href="{% url 'cluster_add' %}"><i class="la la-plus"></i> Add cluster</a>
                    </div>
                </form>
            </div>
        </div>
    </div>
</section>
{% endblock %}

{% block scripts %}
<script type="text/javascript">
    function changeValue(elem){
        var parentDiv = elem.parentNode.children[0];
        if(parentDiv.children[0].value === "false"){
            parentDiv.children[0].value = "true";
        }
        else if(parentDiv.children[0].value === "true"){
            parentDiv.children[0].value = "false";
        }
    }
</script>
{% endblock %}