{% extends 'core/base.html' %}
{% load static %}
{% load filters %}

{% block title %}Cluster List{% endblock %}

{% block content %}

<!-- Main Content -->
<section class="content">
    <div class="body_scroll">
        <div class="block-header">
            <div class="row">
                <div class="col-lg-7 col-md-6 col-sm-12">
                    <h2>CLuster list</h2>
                    <ul class="breadcrumb">
                        <li class="breadcrumb-item"><a href="{% url 'home' %}"><i class="la la-home"></i> Practical Action</a></li>
                        <li class="breadcrumb-item">Project</li>
                        <li class="breadcrumb-item active">Cluster list</li>
                    </ul>
                    <button class="btn btn-primary btn-icon mobile_menu" type="button"><i class="la la-navicon"></i></button>
                </div>
                <div class="col-lg-5 col-md-6 col-sm-12">                
                    <button class="btn float-right right_icon_toggle_btn" type="button"><i class="la la-arrow-right"></i></button>
                </div>
            </div>
        </div>
        <div class="container-fluid">
            <div class="card project_list">
                <div class="table-responsive">
                    <table id="Beneficiary_table" class="table table-hover c_table">
                        <thead>
                            <tr>
                                <th>Name</th>                                        
                                <th>project</th>
                                <th>municipality</th>
                                <th>ward</th>
                                <th>action</th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for cluster in clusters %}
                                <tr>
                                    <td>{{ cluster.name }}</td>
                                    <td>{{ cluster.project }}</td>
                                    <td>
                                    {% for municipality in cluster.municipality.all %}
                                        {{ municipality }},
                                    {% endfor %}
                                    </td>
                                    <td>{{ cluster.ward }}</td>
                                    <td class="table-action">
                                        {% if request.user|check_manager_permission:cluster %}
                                            <a href="{% url 'cluster_delete' cluster.pk %}" class="btn remove"> <i class="la la-trash-o"> </i> Delete</a>
                                            <a href="{% url 'cluster_edit' cluster.pk %}" class="btn"> <i class="la la-edit"></i> Edit</a>
                                            <a href="{% url 'cluster_assign' cluster.pk %}" class="btn"><i class="la la-sellsy"> </i> Assign</a>
                                        {% endif %}
                                            <a href="{% url 'submission' cluster.pk %}" class="btn"><i class="la la-level-up"></i> Submission</a>
                                    </td>
                                </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                </div>
                <div class="table-footer">
                    <a class="btn" href="{% url 'cluster_add' %}"><i class="la la-plus"></i> Add Cluster</a>
<!--                     <ul class="pagination pagination-primary">
                        <li class="page-item active"><a class="page-link" href="javascript:void(0);">1</a></li>
                        <li class="page-item"><a class="page-link" href="javascript:void(0);">2</a></li>
                        <li class="page-item"><a class="page-link" href="javascript:void(0);">3</a></li>
                        <li class="page-item"><a class="page-link" href="javascript:void(0);">4</a></li>
                        <li class="page-item"><a class="page-link" href="javascript:void(0);">5</a></li>
                    </ul> -->
                </div>
                
            </div>
        </div>
    </div>
</section>


{% endblock %}