{% extends 'core/base.html' %}
{% load static %}
{% load filters %}
{% block title %}Cluster List{% endblock %}

{% block content %}
<!-- Main Content -->

<section class="content">
    <div class="block-header">
        <div class="row">
            <div class="col-lg-7 col-md-6 col-sm-12">
                <h2>{{ pk|get_cluster_name }}</h2>
                <ul class="breadcrumb">
                    <li class="breadcrumb-item"><a href="{% url 'home' %}"><i class="la la-home"></i> Practical</a></li>
                    <li class="breadcrumb-item active">cluster list</li>
                </ul>
                <button class="btn btn-icon mobile_menu" type="button"><i class="la la-navicon"></i></button>
            </div>
            <div class="col-lg-5 col-md-6 col-sm-12">
                <button class="btn float-right right_icon_toggle_btn" type="button"><i class="la la-arrow-right"></i></button>
                <div class="form-group">
                    <div class="select-option">
                        <select class="custom-select show-tick ms select2" data-placeholder="Select">
                            <option selected>cluster</option>
                            <option>cluster 2</option>
                            <option>cluster 3</option>
                            <option>cluster 4</option>
                        </select>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="accordion-form project-form">
        <div class="card">
            <div class="card-body">
                <form method="post" action="{% url 'cluster_assign'  pk %}">
                    {% csrf_token %}
                    <!-- accordion -->
                    <div class="cluster-accordion">
                        <div id="accordion">
                            {% for object in selected_activity_group %}
                            <div class="card">
                                    <div class="card-header" id="selected_heading-{{ object.activity_group.id }}">
                                        <h5>
                                            <div class="checkbox">
                                                <input id="selected_ag_id_{{ object.activity_group.id }}" type="checkbox" class="select-all" name="ag_{{ object.activity_group.id }}" checked>
                                                <label for="selected_ag_id_{{ object.activity_group.id }}">{{ object.activity_group.name }}</label>
                                            </div>
                                            <a class="collapsed" role="button" data-toggle="collapse" href="#selected_collapse-{{ object.activity_group.id }}" aria-expanded="true"
                                                aria-controls="selected_collapse-{{ object.activity_group.id }}">
                                            </a>
                                        </h5>
                                    </div>
                                    <div id="selected_collapse-{{ object.activity_group.id }}" class="collapse show" data-parent="#accordion" aria-labelledby="selected_heading-{{ object.activity_group.id }}">
                                        <div class="card-body">
                                            {% for item in object.activity_group.activity.all %}
                                            {% if item|check_cluster_activity:object %}
                                            <div class="form-group">
                                                <div class="checkbox">
                                                    <input id="a_id_{{ item.id }}" type="checkbox" name="a_{{ item.id }}" checked value="true">
                                                    <label for="a_id_{{ item.id }}">{{ item.name }}</label>
                                                </div>
                                                <div class="checkbox-wrap">
                                                {% with item|get_cluster_activity:object as ca %}
                                                <div class="multiple-flex">
                                                    <button type="button" class="btn btn-sm btn-toggle change-btn active" data-toggle="button" name="statusChange" data-id="{{ item.id }}" aria-pressed="true" autocomplete="off">
                                                        <div class="handle"></div>
                                                    </button>
                                                    {% if not item.beneficiary_level %}
                                                    <div class="assign-flex">
                                                        <label for="target_{{ item.id }}">Target number</label>
                                                        <input class="form-control" type="text" id="target_{{ item.id }}" name="target_{{ item.id }}" value="{{ ca.target_number }}">
                                                    </div>
                                                    {% endif %}
                                                    <div class="select-option">

                                                        <select class="custom-select" name="interval_{{ item.id }}" id="interval_{{ item.id }}">
                                                            <option value="None" selected="selected">-------</option>
                                                            {% for interval in interval %}
                                                                {% if interval == ca.time_interval %}
                                                                    <option value="{{ interval.id }}" selected="selected">{{ interval }}</option>
                                                                {% else %}
                                                                    <option value="{{ interval.id }}">{{ interval }}</option>
                                                                {% endif %}
                                                            {% endfor %}
                                                        </select>
                                                    </div>
                                                </div>
                                                </div>
                                                {% endwith %}
                                                <div class="taglist">
                                                    {% with item|get_ca_history:object as history %}
                                                    {% for item in history %}
                                                    {% if item.target_number %}
                                                    <p><label>Previous target</label>{{ item.target_number }}</p>
                                                    {% endif %}
                                                    {% if item.time_interval %}
                                                    <p><label>Previous time interval</label>{{ item.time_interval }}</p>
                                                    {% endif %}
                                                    {% if item.updated_date %}
                                                    <p><label>Date updated</label>{{ item.updated_date }}</p>
                                                    {% endif %}
                                                    {% endfor %}
                                                    {% endwith %}
                                                </div>
                                            </div>
                                            {% else %}
                                            <div class="form-group">
                                                <div class="checkbox">
                                                    <input id="a_id_{{ item.id }}" type="checkbox" name="a_{{ item.id }}" value="false">
                                                    <label for="a_id_{{ item.id }}">{{ item.name }}</label>&nbsp
                                                </div>
                                                <div class="multiple-flex">
                                                    <button type="button" class="btn btn-sm btn-toggle change-btn" data-toggle="button" name="statusChange" data-id="{{ item.id }}" aria-pressed="false" autocomplete="off">
                                                        <div class="handle"></div>
                                                    </button>
                                                    {% with item|get_cluster_activity:object as ca %}
                                                    {% if not item.beneficiary_level %}
                                                    <div class="assign-flex">
                                                        <label for="target_{{ item.id }}">Target number</label>
                                                        <input class="form-control" type="text" id="target_{{ item.id }}" name="target_{{ item.id }}" value="{{ ca.target_number }}" disabled>
                                                    </div>
                                                    {% endif %}
                                                    <div class="select-option">
                                                        <select class="custom-select" name="interval_{{ item.id }}" id="interval_{{ item.id }}" disabled>
                                                            <option value="None" selected="selected">-------</option>
                                                            {% for interval in interval %}
                                                                {% if interval == ca.time_interval %}
                                                                    <option value="{{ interval.id }}" selected="selected">{{ interval }}</option>
                                                                {% else %}
                                                                    <option value="{{ interval.id }}">{{ interval }}</option>
                                                                {% endif %}
                                                            {% endfor %}
                                                        </select>
                                                    </div>
                                                </div>
                                                {% endwith %}
                                                <div class="taglist">
                                                    {% with item|get_ca_history:object as history %}
                                                    {% for item in history %}
                                                    {% if item.target_number %}
                                                    <p><label>Previous target</label>{{ item.target_number }}</p>
                                                    {% endif %}
                                                    {% if item.time_interval %}
                                                    <p><label>Previous time interval</label>{{ item.time_interval }}</p>
                                                    {% endif %}
                                                    {% if item.updated_date %}
                                                    <p><label>Date updated</label>>{{ item.updated_date }}</p>
                                                    {% endif %}
                                                    {% endfor %}
                                                    {% endwith %}
                                                </div>
                                            </div>
                                            {% endif %}
                                            {% endfor %}
                                        </div>
                                    </div>
                                </div>
                            {% endfor %}
                            {% for object in activity_group %}
                                <div class="card">
                                    <div class="card-header" id="heading-{{ object.id }}">
                                        <h5>
                                            <div class="checkbox">
                                                <input id="ag_id_{{ object.id }}" type="checkbox" class="select-all" name="ag_{{ object.id }}">
                                                <label for="ag_id_{{ object.id }}">{{ object.name }}</label>
                                            </div>
                                            <a class="collapsed" role="button" data-toggle="collapse" href="#collapse-{{ object.id }}" aria-expanded="false"
                                                aria-controls="collapse-{{ object.id }}">
                                            </a>
                                        </h5>
                                    </div>
                                    <div id="collapse-{{ object.id }}" class="collapse " data-parent="#accordion" aria-labelledby="heading-{{ object.id }}">
                                        <div class="card-body">
                                            {% for item in object.activity.all %}
                                            <div class="form-group">
                                                <div class="checkbox">
                                                    <input id="a_id_{{ item.id }}" type="checkbox" name="a_{{ item.id }}" value="false">
                                                    <label for="a_id_{{ item.id }}">{{ item.name }}</label>
                                                </div>
                                                <div class="multiple-flex">
                                                    <button type="button" class="btn btn-sm btn-toggle change-btn" data-toggle="button" name="statusChange" data-id="{{ item.id }}" aria-pressed="false" autocomplete="off">
                                                        <div class="handle"></div>
                                                    </button>
                                                    {% if not item.beneficiary_level %}
                                                        <div class="assign-flex">
                                                            <label for="target_{{ item.id }}">Target number</label>
                                                            <input class="form-control" type="text" id="target_{{ item.id }}" name="target_{{ item.id }}" value="{{ item.target_number }}" disabled>
                                                        </div>
                                                        {% endif %}
                                                    <div class="select-option">
                                                        <select class="custom-select" name="interval_{{ item.id }}" id="interval_{{ item.id }}" disabled>
                                                            <option value="None" selected="selected">-------</option>
                                                            {% for interval in interval %}
                                                                {% if interval == item.time_interval %}
                                                                    <option value="{{ interval.id }}" selected="selected">{{ interval }}</option>
                                                                {% else %}
                                                                    <option value="{{ interval.id }}">{{ interval }}</option>
                                                                {% endif %}
                                                            {% endfor %}
                                                        </select>
                                                    </div>
                                                </div>
                                            </div>
                                            {% endfor %}
                                        </div>
                                    </div>
                                </div>
                            {% endfor %}
                        </div>
                    </div>
                    <div class="form-footer pull-right">
                        <button type="submit" class="btn">Save</button>
                        <a class="btn remove" href="{% url 'cluster_add' %}"><i class="la la-plus"></i> Add cluster</a>
                    </div>
                </form>
            </div>
        </div>
    </div>
</section>
{% endblock %}

{% block scripts %}
<script>
    $(document).ready(function(){
        $('.change-btn').on('click', function(){
           id = $(this).attr('data-id');
           console.log(id);
           v = $('#a_id_'+id).val();
           if(v=="true"){
               $('#a_id_'+id).val("false");
           }
           else{
               $('#a_id_'+id).val("true");
           }

           if($('#target_'+id).attr("disabled")){
                $('#target_'+id).removeAttr('disabled');
           }
           else{
                $('#target_'+id).attr("disabled", "disabled");
           }

           if($('#interval_'+id).attr("disabled")){
                 $('#interval_'+id).removeAttr('disabled');
           }
           else{
                $('#interval_'+id).attr("disabled", "disabled");
           }
        });
    });
</script>
{% endblock %}