{% extends 'core/base.html' %}
{% load static %}
{% load filters %}

{% block content %}
<!-- Main Content -->

<section class="content">
    <div class="block-header">
        <div class="row">
            <div class="col-lg-7 col-md-6 col-sm-12">
                <h2>Dashboard-1</h2>
                <button class="btn btn-primary btn-icon mobile_menu" type="button"><i class="la la-navicon"></i></button>
            </div>
            <div class="col-lg-5 col-md-6 col-sm-12">
                <button class="btn btn-primary float-right right_icon_toggle_btn" type="button"><i class="la la-arrow-right"></i></button>
            </div>
        </div>
    </div>
    <div class="project-section">
        <div class="container-fluid">
            <div class="row">
                <div class="col-lg-5">
                    <div class="project-list">
                        <div class="card">
                            <div class="card-header">
                                <h5>Project overview</h5>
                            </div>
                            <div class="card-body">
                                <ul>
                                    <li><label>Name :</label><span>{{ request.project.name }}</span></li>
                                    <li><label>Project Manager :</label><span>{{ request.project|get_project_manager }}</span></li>
                                    <li><label>Start date :</label><span>{{ request.project.start_date }}</span></li>
                                    <li><label>End date :</label><span>{{ request.project.end_date }}</span></li>
                                    <li><label>reporting period :</label><span>{{ request.project.get_reporting_period_display }}</span></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-7">
                    <div class="map-view">
                        <div class="card">
                            <div class="card-header">
                                <h5>Project summary</h5>
                            </div>
                            <div class="card-body">
                                <div class="row clearfix">
                                    <div class="col-lg-6">
                                        <div class="card card-widget ">
                                            <div class="body">
                                                <a href="{% url 'output_list' %}">
                                                    <div class="card-content">
                                                        <div class="card-icon">
                                                            <i class="la la-signal"></i>
                                                        </div>
                                                        <div class="card-text">
                                                            <h3>{{ request.project.output.count }}</h3>
                                                            <h5>Output</h5>
                                                        </div>
                                                    </div>
                                                </a>
                                            </div>
                                        </div>
                                    </div>

                                    <div class="col-lg-6 ">
                                        <div class="card card-widget ">
                                            <div class="body">
                                                <a href="{% url 'activity_list' %}">
                                                    <div class="card-content">
                                                        <div class="card-icon">
                                                            <i class="la la-line-chart"></i>
                                                        </div>
                                                        <div class="card-text">
                                                            <h3>{{ activity_count }}</h3>
                                                            <h5>Activities</h5>
                                                        </div>
                                                    </div>
                                                </a>
                                            </div>
                                        </div>
                                    </div>

                                    <div class="col-lg-6 ">
                                        <div class="card card-widget mrt30">
                                            <div class="body">
                                                <a href="{% url 'cluster_list' %}">
                                                    <div class="card-content">
                                                        <div class="card-icon">
                                                            <i class="la la-transgender-alt"></i>
                                                        </div>
                                                        <div class="card-text">
                                                            <h3>{{ request.project.cluster.count }}</h3>
                                                            <h5>Cluster</h5>
                                                        </div>
                                                    </div>
                                                </a>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-lg-6 ">
                                        <div class="card card-widget mrt30">
                                            <div class="body">
                                                <a href="{% url 'beneficiary_list' %}">
                                                    <div class="card-content">
                                                        <div class="card-icon">
                                                            <i class="la la-sellsy"></i>
                                                        </div>
                                                        <div class="card-text">
                                                            <h3>{{ beneficiary_count }}</h3>
                                                            <h5>Benificiaries</h5>
                                                        </div>
                                                    </div>
                                                </a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="banificiary-graph">
            <div class="container-fluid">
                <div class="graph-wrapper">
                    <div class="graph-column">
                        <div class="row">
                            <div class="col-lg-4">
                                <div class="card ben-card">
                                    <div class="card-header">
                                        <h5>Gender</h5>
                                    </div>
                                    <div class="card-body">
                                        <div id="gender-donut"></div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-4">
                                <div class="card ben-card">
                                    <div class="card-header">
                                        <h5>Type</h5>
                                    </div>
                                    <div class="card-body">
                                        <div id="chart-pie"></div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-4">
                                <div class="card ben-card">
                                    <div class="card-header">
                                        <h5>Age Group</h5>
                                    </div>
                                    <div class="card-body">
                                        <div id="age-bar"></div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    <div class="graph">
        <div class="container-fluid">
            <div class="graph-warpper">
                <div class="card">
                    <div class="card-header">
                        <form method="get">
                            <div class="form-group">
                                <div class="select-option" id="district_select">
                                    <span>select District</span>
                                    <div class="select-list" >
                                        <ul>
                                            {% for district in districts %}
                                            <li>
                                                <div class="checkbox">
                                                    <input id="dist_{{ district.id }}" type="checkbox" class="district_class" data-id="{{ district.id }}" name="dist_{{ district.id }}">
                                                    <label for="dist_{{ district.id }}">{{ district.name }}</label>
                                                </div>
                                            </li>
                                            {% endfor %}
                                        </ul>
                                    </div>
                                </div>
                            </div>
                            <div class="form-group">
                                <div class="select-option">
                                    <span>select Municipality</span>
                                    <div class="select-list">
                                        <ul id="municipalities" class="mun_class">
                                            {% for muni in municipalities %}
                                            <li class="municipalities">
                                                <div class="checkbox">
                                                    <input id="mun_{{ muni.id }}" type="checkbox" class="municipality_class" data-id="{{ muni.id }}" name="mun_{{ muni.id }}">
                                                    <label for="mun_{{ muni.id }}">{{ muni.name }}</label>
                                                </div>
                                            </li>
                                            {% endfor %}
                                        </ul>
                                    </div>
                                </div>
                            </div>
                            <div class="form-group">
                                <div class="select-option">
                                    <span>select cluster</span>
                                    <div class="select-list">
                                        <ul id="clusters">
                                            {% for cluster in select_clusters %}
                                            <li class="clusters">
                                                <div class="checkbox">
                                                    <input id="cl_{{ cluster.id }}" type="checkbox" name="cl_{{ cluster.id }}">
                                                    <label for="cl_{{ cluster.id }}">{{ cluster.name }}</label>
                                                </div>
                                            </li>
                                            {% endfor %}
                                        </ul>
                                    </div>
                                </div>
                            </div>

                            <div class="form-group">
                                <button type="submit" class="btn" name="progress">Filter</button>
                            </div>
                        </form>
                    </div>
                </div>
                <div class="graph-column">
                    <div class="row">
                        <div class="col-lg-12">
                            <div class="card">
                                <div class="card-header">
                                    <h5>Progress overview</h5>
                                </div>
                                <div class="card-body">
                                    <div id="chart-bar"></div>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-6">
                            <div class="card">
                                <div class="card-header">
                                    <h5>Cluster Phases</h5>
                                </div>
                                <div class="card-body">
                                    <div id="cluster_pie"></div>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-6">
                            <div class="card">
                                <div class="card-header">
                                    <h5>map</h5>
                                </div>
                                <div class="card-body">
                                    <div id="map" style="height:320px"></div>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-6">
                            <div class="card">
                                <div class="card-header">
                                    <h5>Cluster</h5>
                                </div>
                                <div class="card-body">
                                    <div id="cluseter_time"></div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="graph activity-graph">
        <div class="container-fluid">
            <div class="graph-warpper">
                <div class="card">
                    <div class="card-header">
                        <form method="get">
                            <div class="form-group">
                                <div class="select-option">
                                    <span>select District</span>
                                    <div class="select-list">
                                        <ul id="cluster_districts">
                                            {% for district in districts %}
                                            <li class="cluster_districts">
                                                <div class="checkbox">
                                                    <input id="distcluster_{{ district.id }}" type="checkbox" class="cluster_district_class" data-id="{{ district.id }}" name="dist_{{ district.id }}">
                                                    <label for="distcluster_{{ district.id }}">{{ district.name }}</label>
                                                </div>
                                            </li>
                                            {% endfor %}
                                        </ul>
                                    </div>
                                </div>
                            </div>
                            <div class="form-group">
                                <div class="select-option">
                                    <span>select Municipality</span>
                                    <div class="select-list">
                                        <ul id="cluster_municipalities" class="cluster_mun_class">
                                            {% for muni in municipalities %}
                                            <li class="cluster_municipalities">
                                                <div class="checkbox">
                                                    <input id="muncluster_{{ muni.id }}" type="checkbox" class="cluster_municipality_class" data-id="{{ muni.id }}" name="mun_{{ muni.id }}">
                                                    <label for="muncluster_{{ muni.id }}">{{ muni.name }}</label>
                                                </div>
                                            </li>
                                            {% endfor %}
                                        </ul>
                                    </div>
                                </div>
                            </div>
                            <div class="form-group">
                                <div class="select-option">
                                    <span>select cluster</span>
                                    <div class="select-list">
                                        <ul id="cluster_clusters" class="cluster_class">
                                            {% for cluster in select_clusters %}
                                            <li class="cluster_clusters">
                                                <div class="checkbox">
                                                    <input id="clcluster_{{ cluster.id }}" type="checkbox" class="cluster_cluster_class" data-id="{{ cluster.id }}" name="dist_{{ cluster.id }}">
                                                    <label for="clcluster_{{ cluster.id }}">{{ cluster.name }}</label>
                                                </div>
                                            </li>
                                            {% endfor %}
                                        </ul>
                                    </div>
                                </div>
                            </div>
                            <div class="form-group">
                                <div class="select-option">
                                    <span>select Activity group</span>
                                    <div class="select-list">
                                        <ul id="cluster_activitygroups" class="ag_class">
                                            {% for obj in activity_groups %}
                                            <li class="cluster_activitygroups">
                                                <div class="checkbox">
                                                    <input id="ag_{{ obj.id }}" type="checkbox" class="cluster_activitygroup_class" data-id="{{ obj.id }}" name="acg_{{ obj.id }}">
                                                    <label for="ag_{{ obj.id }}">{{ obj.name }}</label>
                                                </div>
                                            </li>
                                            {% endfor %}
                                        </ul>
                                    </div>
                                </div>
                            </div>
                            <div class="form-group">
                                <div class="select-option">
                                    <span>select activity</span>
                                    <div class="select-list">
                                        <ul id="cluster_activities">
                                            {% for obj in activities %}
                                            <li class="cluster_activities">
                                                <div class="checkbox">
                                                    <input id="a_{{ obj.id }}" type="checkbox" name="a_{{ obj.id }}">
                                                    <label for="a_{{ obj.id }}">{{ obj.name }}</label>
                                                </div>
                                            </li>
                                            {% endfor %}
                                        </ul>
                                    </div>
                                </div>
                            </div>
                            <div class="form-group">
                                <button type="submit" class="btn" name="cluster_activity">Filter</button>
                            </div>
                        </form>
                    </div>
                </div>
                <div class="graph-column">
                    <div class="row">
                        <div class="col-lg-12">
                            <div class="card">
                                <div class="card-header">
                                    <h5>Cluster level activity overview</h5>
                                </div>
                                <div class="card-body">
                                    <div id="chart-single"></div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

{% endblock %}
{% block scripts %}
<script>
    intervals = {{ intervals|safe }};
    chart_single = {{ chart_single|safe }};
    categories = {{ categories|safe }}
    progress_data = {{ progress_data|safe }};
    pie_data = {{ pie_data|safe }};
    cluster_progress_data = {{ cluster_progress_data|safe }};



        //for municipality list with respect to districts in cluster progress
        $(".district_class").on('click', function(){
            var districts = [];
            $. each($("input[class='district_class']:checked"), function(){
                district_id=$(this).attr('data-id');
                districts.push(district_id);

            });
            $.ajax({
                url: '/core/get-municipalities/',
                type: 'GET',
                data: {'districts': districts},
                dataType: "json",

                success: function(result){
                    $('.municipalities').remove();
                    municipalities = result.length;
                    for (i = 0; i < municipalities; i++){
                        var element = '<li class="municipalities"><div class="checkbox"><input id="mun_' + result[i]['pk'] + '" type="checkbox" class="municipality_class" data-id="' + result[i]['pk'] + '"name="mun_' + result[i]['pk'] + '"><label for="mun_' + result[i]['pk'] + '">' + result[i]['fields']['name'] + '</label></div></li>';
                        $('#municipalities').append(element);
                    }
                }
            });
        });

        // for cluster list with respect to municipalities in cluster progress
        $(".mun_class").on('click','.municipality_class',function(){
            console.log('municipality');
            var municipalities = [];
            $. each($("input[class='municipality_class']:checked"), function(){
                municipality_id=$(this).attr('data-id');
                municipalities.push(municipality_id);

            });
            $.ajax({
                url: '/core/get-clusters/',
                type: 'GET',
                data: {'municipalities': municipalities},
                dataType: "json",

                success: function(result){
                    $('.clusters').remove();
                    clusters = result.length;
                    for (i = 0; i < clusters; i++){
                        var element = '<li class="clusters"><div class="checkbox"><input id="cl_' + result[i]['pk'] + '" type="checkbox" name="cl_' + result[i]['pk'] + '"><label for="cl_' + result[i]['pk'] + '">' + result[i]['fields']['name'] + '</label></div></li>';
                        $('#clusters').append(element);
                    }
                }
            });
        });

        //for municipality list with respect to districts in activity target graph
        $(".cluster_district_class").on('click', function(){
            var districts = [];
            $. each($("input[class='cluster_district_class']:checked"), function(){
                district_id=$(this).attr('data-id');
                districts.push(district_id);

            });
            $.ajax({
                url: '/core/get-municipalities/',
                type: 'GET',
                data: {'districts': districts},
                dataType: "json",

                success: function(result){
                    $('.cluster_municipalities').remove();
                    municipalities = result.length;
                    for (i = 0; i < municipalities; i++){
                        var element = '<li class="cluster_municipalities"><div class="checkbox"><input id="muncluster_' + result[i]['pk'] + '" type="checkbox" class="cluster_municipality_class" data-id="' + result[i]['pk'] + '"name="muncluster_' + result[i]['pk'] + '"><label for="muncluster_' + result[i]['pk'] + '">' + result[i]['fields']['name'] + '</label></div></li>';
                        $('#cluster_municipalities').append(element);
                    }
                }
            });
        });

        // for cluster list with respect to municipalities in activity target graph
        $(".cluster_mun_class").on('click','.cluster_municipality_class',function(){
            var municipalities = [];
            $. each($("input[class='cluster_municipality_class']:checked"), function(){
                municipality_id=$(this).attr('data-id');
                municipalities.push(municipality_id);

            });
            $.ajax({
                url: '/core/get-clusters/',
                type: 'GET',
                data: {'municipalities': municipalities},
                dataType: "json",

                success: function(result){
                console.log(result);
                    $('.cluster_clusters').remove();
                    clusters = result.length;
                    for (i = 0; i < clusters; i++){
                        var element = '<li class="cluster_clusters"><div class="checkbox"><input id="clcluster_' + result[i]['pk'] + '" type="checkbox" class="cluster_cluster_class" data-id="' + result[i]['pk'] + '"name="clcluster_' + result[i]['pk'] + '"><label for="clcluster_' + result[i]['pk'] + '">' + result[i]['fields']['name'] + '</label></div></li>';
                        $('#cluster_clusters').append(element);
                    }
                }
            });
        });

        // for activity group list with respect to clusters in activity target graph
        $(".cluster_class").on('click', '.cluster_cluster_class', function(){
            var clusters = [];
            $. each($("input[class='cluster_cluster_class']:checked"), function(){
                cluster_id=$(this).attr('data-id');
                clusters.push(cluster_id);

            });
            $.ajax({
                url: '/core/get-activity-groups/',
                type: 'GET',
                data: {'clusters': clusters},
                dataType: "json",

                success: function(result){
                console.log(result);
                    $('.cluster_activitygroups').remove();
                    activity_groups = result.length;
                    for (i = 0; i < activity_groups; i++){
                        var element = '<li class="cluster_activitygroups"><div class="checkbox"><input id="ag_' + result[i]['pk'] + '" type="checkbox" class="cluster_activitygroup_class"  data-id="' + result[i]['pk'] + '"name="ag_' + result[i]['pk'] + '"><label for="ag_' + result[i]['pk'] + '">' + result[i]['fields']['name'] + '</label></div></li>';
                        $('#cluster_activitygroups').append(element);
                    }
                }
            });
        });

        // for activity list with respect to activity groups in activity target graph
        $(".ag_class").on('click', '.cluster_activitygroup_class', function(){
            var activity_groups = [];
            $. each($("input[class='cluster_activitygroup_class']:checked"), function(){
                ag_id=$(this).attr('data-id');
                activity_groups.push(ag_id);

            });
            $.ajax({
                url: '/core/get-activities/',
                type: 'GET',
                data: {'activity_groups': activity_groups},
                dataType: "json",

                success: function(result){
                console.log(result);
                    $('.cluster_activities').remove();
                    activities = result.length;
                    for (i = 0; i < activities; i++){
                        var element = '<li class="cluster_activities"><div class="checkbox"><input id="a_' + result[i]['pk'] + '" type="checkbox" name="a_' + result[i]['pk'] + '"><label for="a_' + result[i]['pk'] + '">' + result[i]['fields']['name'] + '</label></div></li>';
                        $('#cluster_activities').append(element);
                    }
                }
            });
        });

        $.ajax({
            url: '/core/get-map-data/',
            type: 'GET',
            data: {},
            dataType: "json",

            success: function(result){
                console.log(result);
                map_data = result;
            }
        });
</script>
<script src="{% static 'js/c3.bundle.js' %}"></script>
<script src="{% static 'js/c3.js' %}"></script>
<script src="{% static 'js/coremap.js' %}"></script>
{% endblock %}

