{% extends 'core/base.html' %}
{% load static %}
{% load filters %}

{% block content %}
<!-- Main Content -->

<section class="content">
    <div class="block-header">
        <div class="row">
            <div class="col-lg-7 col-md-6 col-sm-12">
                <h2>Dashboard-1</h2>
                <button class="btn btn-primary btn-icon mobile_menu" type="button"><i class="la la-navicon"></i></button>
            </div>
            <div class="col-lg-5 col-md-6 col-sm-12">
                <button class="btn btn-primary float-right right_icon_toggle_btn" type="button"><i class="la la-arrow-right"></i></button>
            </div>
        </div>
    </div>
    <div class="project-section">
        <div class="container-fluid">
            <div class="row">
                <div class="col-lg-5">
                    <div class="project-list">
                        <div class="card">
                            <div class="card-header">
                                <h5>Project overview</h5>
                            </div>
                            <div class="card-body">
                                <ul>
                                    <li><label>Name :</label><span>{{ request.project.name }}</span></li>
                                    <li><label>Project Manager :</label><span>{{ request.project|get_project_manager }}</span></li>
                                    <li><label>Start date :</label><span>{{ request.project.start_date }}</span></li>
                                    <li><label>End date :</label><span>{{ request.project.end_date }}</span></li>
                                    <li><label>reporting period :</label><span>{{ request.project.get_reporting_period_display }}</span></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-7">
                    <div class="map-view">
                        <div class="card">
                            <div class="card-header">
                                <h5>Project summary</h5>
                            </div>
                            <div class="card-body">
                                <div class="row clearfix">
                                    <div class="col-lg-6">
                                        <div class="card card-widget ">
                                            <div class="body">
                                                <a href="{% url 'output_list' %}">
                                                    <div class="card-content">
                                                        <div class="card-icon">
                                                            <i class="la la-signal"></i>
                                                        </div>
                                                        <div class="card-text">
                                                            <h3>{{ request.project.output.count }}</h3>
                                                            <h5>Output</h5>
                                                        </div>
                                                    </div>
                                                </a>
                                            </div>
                                        </div>
                                    </div>

                                    <div class="col-lg-6 ">
                                        <div class="card card-widget ">
                                            <div class="body">
                                                <a href="{% url 'activity_list' %}">
                                                    <div class="card-content">
                                                        <div class="card-icon">
                                                            <i class="la la-line-chart"></i>
                                                        </div>
                                                        <div class="card-text">
                                                            <h3>{{ activity_count }}</h3>
                                                            <h5>Activities</h5>
                                                        </div>
                                                    </div>
                                                </a>
                                            </div>
                                        </div>
                                    </div>

                                    <div class="col-lg-6 ">
                                        <div class="card card-widget mrt30">
                                            <div class="body">
                                                <a href="{% url 'cluster_list' %}">
                                                    <div class="card-content">
                                                        <div class="card-icon">
                                                            <i class="la la-transgender-alt"></i>
                                                        </div>
                                                        <div class="card-text">
                                                            <h3>{{ request.project.cluster.count }}</h3>
                                                            <h5>Cluster</h5>
                                                        </div>
                                                    </div>
                                                </a>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-lg-6 ">
                                        <div class="card card-widget mrt30">
                                            <div class="body">
                                                <a href="{% url 'beneficiary_list' %}">
                                                    <div class="card-content">
                                                        <div class="card-icon">
                                                            <i class="la la-sellsy"></i>
                                                        </div>
                                                        <div class="card-text">
                                                            <h3>{{ beneficiary_count }}</h3>
                                                            <h5>Benificiaries</h5>
                                                        </div>
                                                    </div>
                                                </a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="banificiary-graph">
            <div class="container-fluid">
                <div class="graph-wrapper">
                    <div class="graph-column">
                        <div class="row">
                            <div class="col-lg-4">
                                <div class="card ben-card">
                                    <div class="card-header">
                                        <h5>Gender</h5>
                                    </div>
                                    <div class="card-body">
                                        <div id="gender-donut"></div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-4">
                                <div class="card ben-card">
                                    <div class="card-header">
                                        <h5>Type</h5>
                                    </div>
                                    <div class="card-body">
                                        <div id="chart-pie"></div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-4">
                                <div class="card ben-card">
                                    <div class="card-header">
                                        <h5>Age Group</h5>
                                    </div>
                                    <div class="card-body">
                                        <div id="age-bar"></div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    <div class="graph">
        <div class="container-fluid">
            <div class="graph-warpper">
                <div class="card">
                    <div class="card-header">
                        <form>
                            <div class="form-group">
                                <div class="select-option">
                                    <span>select District</span>
                                    <div class="select-list">
                                        <ul>
                                            <li>
                                                <div class="checkbox">
                                                    <input id="dist_1" type="checkbox" name="dist_1">
                                                    <label for="dist_1">Gorkha</label>
                                                </div>
                                            </li>
                                            <li>
                                                <div class="checkbox">
                                                    <input id="dist_2" type="checkbox" name="dist_2">
                                                    <label for="dist_2">Makawanpur</label>
                                                </div>
                                            </li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                            <div class="form-group">
                                <div class="select-option">
                                    <span>select Municipality</span>
                                    <div class="select-list">
                                        <ul>
                                            <li>
                                                <div class="checkbox">
                                                    <input id="mun_1" type="checkbox" name="mun_1">
                                                    <label for="mun_1">Thaha</label>
                                                </div>
                                            </li>
                                            <li>
                                                <div class="checkbox">
                                                    <input id="mun_2" type="checkbox" name="mun_2">
                                                    <label for="mun_2">Dhordi</label>
                                                </div>
                                            </li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                            <div class="form-group">
                                <div class="select-option">
                                    <span>select cluster</span>
                                    <div class="select-list">
                                        <ul>
                                            <li>
                                                <div class="checkbox">
                                                    <input id="cl_1" type="checkbox" name="dist_1">
                                                    <label for="cl_1">1</label>
                                                </div>
                                            </li>
                                            <li>
                                                <div class="checkbox">
                                                    <input id="cl_2" type="checkbox" name="cl_2">
                                                    <label for="cl_2">2</label>
                                                </div>
                                            </li>
                                            <li>
                                                <div class="checkbox">
                                                    <input id="cl_3" type="checkbox" name="cl_3">
                                                    <label for="cl_3">3</label>
                                                </div>
                                            </li>
                                        </ul>
                                    </div>
                                </div>
                            </div>

                            <div class="form-group">
                                <button type="button" class="btn">Filter</button>
                            </div>
                        </form>
                    </div>
                </div>
                <div class="graph-column">
                    <div class="row">
                        <div class="col-lg-12">
                            <div class="card">
                                <div class="card-header">
                                    <h5>Progress overview</h5>
                                </div>
                                <div class="card-body">
                                    <div id="chart-bar"></div>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-6">
                            <div class="card">
                                <div class="card-header">
                                    <h5>map</h5>
                                </div>
                                <div class="card-body">
                                    <div id="map" style="height:320px"></div>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-6">
                            <div class="card">
                                <div class="card-header">
                                    <h5>Cluster</h5>
                                </div>
                                <div class="card-body">
                                    <div id="cluseter_time"></div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="graph activity-graph">
        <div class="container-fluid">
            <div class="graph-warpper">
                <div class="card">
                    <div class="card-header">
                        <form>
                            <div class="form-group">
                                <div class="select-option">
                                    <span>select District</span>
                                    <div class="select-list">
                                        <ul>
                                            <li>
                                                <div class="checkbox">
                                                    <input id="dist_1" type="checkbox" name="dist_1">
                                                    <label for="dist_1">Gorkha</label>
                                                </div>
                                            </li>
                                            <li>
                                                <div class="checkbox">
                                                    <input id="dist_2" type="checkbox" name="dist_2">
                                                    <label for="dist_2">Makawanpur</label>
                                                </div>
                                            </li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                            <div class="form-group">
                                <div class="select-option">
                                    <span>select Municipality</span>
                                    <div class="select-list">
                                        <ul>
                                            <li>
                                                <div class="checkbox">
                                                    <input id="mun_1" type="checkbox" name="mun_1">
                                                    <label for="mun_1">Thaha</label>
                                                </div>
                                            </li>
                                            <li>
                                                <div class="checkbox">
                                                    <input id="mun_2" type="checkbox" name="mun_2">
                                                    <label for="mun_2">Dhordi</label>
                                                </div>
                                            </li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                            <div class="form-group">
                                <div class="select-option">
                                    <span>select cluster</span>
                                    <div class="select-list">
                                        <ul>
                                            <li>
                                                <div class="checkbox">
                                                    <input id="cl_1" type="checkbox" name="dist_1">
                                                    <label for="cl_1">1</label>
                                                </div>
                                            </li>
                                            <li>
                                                <div class="checkbox">
                                                    <input id="cl_2" type="checkbox" name="cl_2">
                                                    <label for="cl_2">2</label>
                                                </div>
                                            </li>
                                            <li>
                                                <div class="checkbox">
                                                    <input id="cl_3" type="checkbox" name="cl_3">
                                                    <label for="cl_3">3</label>
                                                </div>
                                            </li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                            <div class="form-group">
                                <div class="select-option">
                                    <span>select type</span>
                                    <div class="select-list">
                                        <ul>
                                            <li>
                                                <div class="checkbox">
                                                    <input id="tp_1" type="checkbox" name="tp_1">
                                                    <label for="tp_1">Marginalized</label>
                                                </div>
                                            </li>
                                            <li>
                                                <div class="checkbox">
                                                    <input id="tp_2" type="checkbox" name="tp_2">
                                                    <label for="tp_2">vulnerable</label>
                                                </div>
                                            </li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                            <div class="form-group">
                                <div class="select-option">
                                    <span>select Activity group</span>
                                    <div class="select-list">
                                        <ul>
                                            <li>
                                                <div class="checkbox">
                                                    <input id="acg_1" type="checkbox" name="acg_1">
                                                    <label for="acg_1">Pre-construction stage</label>
                                                </div>
                                            </li>
                                            <li>
                                                <div class="checkbox">
                                                    <input id="acg_2" type="checkbox" name="acg_2">
                                                    <label for="acg_2">Physical construction stage</label>
                                                </div>
                                            </li>
                                            <li>
                                                <div class="checkbox">
                                                    <input id="acg_3" type="checkbox" name="acg_3">
                                                    <label for="acg_3">Post construction stage</label>
                                                </div>
                                            </li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                            <div class="form-group">
                                <div class="select-option">
                                    <span>select activity</span>
                                    <div class="select-list">
                                        <ul>
                                            <li>
                                                <div class="checkbox">
                                                    <input id="ac_1" type="checkbox" name="ac_1">
                                                    <label for="ac_1">Verification & Listing</label>
                                                </div>
                                            </li>
                                            <li>
                                                <div class="checkbox">
                                                    <input id="ac_2" type="checkbox" name="ac_2">
                                                    <label for="ac_2">Household Awareness Creation</label>
                                                </div>
                                            </li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                            <div class="form-group">
                                <button type="button" class="btn">Filter</button>
                            </div>
                        </form>
                    </div>
                </div>
                <div class="graph-column">
                    <div class="row">
                        <div class="col-lg-12">
                            <div class="card">
                                <div class="card-header">
                                    <h5>Cluster level activity overview</h5>
                                </div>
                                <div class="card-body">
                                    <div id="chart-single"></div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

{% endblock %}
{% block scripts %}
<script>
    intervals = {{ intervals|safe }};
</script>
<script src="{% static 'js/c3.bundle.js' %}"></script>
<script src="{% static 'js/c3.js' %}"></script>
{% endblock %}

