{% extends 'core/base.html' %}
{% block content %}

<div class="page-header">
    <div class="page-header-wrap">
        <div class="right-nav">
            <div class="dropdown">
                <button class="common-button is-clear btn_image">
                    <img src="./images/noun_Upload_1507391.svg" alt="">
                </button>
            </div>
        
            <div class="dropdown">
                <button class="common-button is-clear dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                <div class="title-head">
                    <span class="body-span">Manish</span>
                    <span class="body-smspan">Project Manager</span>
                </div>
                    <img src="./images/noun_Upload_1507391.svg" alt="">
                </button>
                <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                <a class="dropdown-item" href="#">Action</a>
                <a class="dropdown-item" href="#">Another action</a>
                <a class="dropdown-item" href="#">Something else here</a>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- Main Content -->

<section class="content content-mod">

    <!-- project-section -->
    <div class="project-section project-section-mod sub-section">
        <h2 class="h2-title h2-common">Project overview</h2>

        <!-- project-list -->
        <div class="project-list">
            <div class="card">
                <div class="card-body">
                    <div class="row">
                        <div class="col-md-6">
                            <ul class="card-body-left">
                                <li><label class="body-span1">Name :</label><span class="body-span-reg">Practical Action - Monitoring and Evaluation</span></li>
                                <li><label class="body-span1">Project Manager :</label><span class="body-span-reg">Manish</span></li>
                                <li><label class="body-span1">reporting period :</label><span class="body-span-reg">Quarterly</span></li>
                            </ul>
                        </div>

                        <div class="col-md-6">
                            <ul class="card-body-right">
                                <li><label class="body-span1">End date :</label><span class="body-span-reg">Feb 28,2019</span></li>
                                <li><label class="body-span1">reporting period :</label><span class="body-span-reg">Nov 29,2021</span></li>
                            </ul> 
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <!-- map-view -->
        <div class="map-view map-view-mod">
            <div class="card">
                <div class="card-body">
                    <div class="row clearfix">
                        <div class="col-md-3">
                            <div class="card card-widget">
                                <div class="body">
                                    <a href="output-form.html">
                                        <div class="card-content card-content-blue">
                                            <div class="card-icon">
                                                <i class="la la-signal"></i>
                                            </div>
                                            <div class="card-text">
                                                <span class="body-span2">4</span>
                                                <span class="body-span-reg">Output</span>
                                            </div>
                                        </div>
                                    </a>
                                </div>
                            </div>
                        </div>
                        
                        <div class="col-md-3">
                            <div class="card card-widget ">
                                <div class="body">
                                    <a href="#">
                                        <div class="card-content card-content-purple">
                                            <div class="card-icon">
                                                <i class="la la-line-chart"></i>
                                            </div>
                                            <div class="card-text">
                                                <span class="body-span2">29</span>
                                                <span class="body-span-reg">Actvities</span>
                                            </div>
                                        </div>
                                    </a>
                                </div>
                            </div>
                        </div>
                        
                        <div class="col-md-3 ">
                            <div class="card card-widget">
                                <div class="body">
                                    <a href="#">
                                        <div class="card-content card-content-green">
                                            <div class="card-icon">
                                                <i class="la la-transgender-alt"></i>
                                            </div>
                                            <div class="card-text">
                                                <span class="body-span2">37</span>
                                                <span class="body-span-reg">Cluster</span>
                                            </div>
                                        </div>
                                    </a>
                                </div>
                            </div>
                        </div>

                        <div class="col-lg-3">
                            <div class="card card-widget">
                                <div class="body">
                                    <a href="#">
                                        <div class="card-content card-content-yellow">
                                            <div class="card-icon">
                                                <i class="la la-sellsy"></i>
                                            </div>
                                            <div class="card-text">
                                                <span class="body-span2">1517</span>
                                                <span class="body-span-reg">Benificiaries</span>
                                            </div>
                                        </div>
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>

    <div class="graph-section sub-section">
        <h2 class="h2-title h2-common">Project summary</h2>
        <div class="card">
            <div class="card-body">
                <div class="row">
                    <div class="col-md-6">
                        <div class="card content-card">
                            <div class="card-header">
                                <span class="body_subtitle">Construction phases</span>
                            </div>  
                            <div class="card-body card-body-graph">
                                <div class="row no-gutters">
                                    <div class="col-md-6">
                                        <div id="radial-chart"></div>
                                    </div>
                                    <div class="col-md-6">
                                        <div class="legend-wrap">
                                            <ul class="legend">
                                                <li class="legend-data"><label class="body-span-reg">Pre-Construction stage</label><span class="span-numdata">650 (65%)</span></li>
                                                <li class="legend-data"><label class="body-span-reg">Physical construction stage</label><span class="span-numdata">250 (25%)</span></li>
                                                <li class="legend-data"><label class="body-span-reg">Post construction stage</label><span class="span-numdata">100 (10%)</span></li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="col-md-6">
                        <div class="card content-card">
                            <div class="card-header">
                                <span class="body_subtitle">Progress overview</span>
                            </div>
                            <div class="card-body">
                                <div id="designerChart"></div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="info-graph-section sub-section">
        
        <h2 class="h2-title h2-common">District summary</h2>
        <div class="card">
            <div class="card-body">
                <div class="row">
                    <div class="col-md-6">
                        <div class="card content-card">
                            <div class="card-header">
                                <div class="card-header-left">
                                    <span class="body_title">Lamjung</span>
                                    <span class="body_subtitle">Construction phases</span>
                                </div>
                                <div class="card-header-right">
                                    <form>
                                        <div class="form-group">
                                            <div class="select-option">
                                                <span>select Municipality</span>
                                                <div class="select-list">
                                                    <ul>
                                                        <li>
                                                            <div class="checkbox">
                                                                <input id="mun_graphI" type="checkbox" name="mun_graphI">
                                                                <label for="mun_graphI">Thaha</label>
                                                            </div>
                                                        </li>
                                                        <li>
                                                            <div class="checkbox">
                                                                <input id="mun_graphII" type="checkbox" name="mun_graphII">
                                                                <label for="mun_graphII">Dhordi</label>
                                                            </div>
                                                        </li>
                                                    </ul>
                                                </div>
                                            </div>
                                        </div>
                                    </form>
                                </div>
                            </div>  
                            <div class="card-body card-body-graph">
                                <div class="row no-gutters">
                                    <div class="col-md-6">
                                        <div id="radial-chart-infoleft"></div>
                                    </div>
                                    <div class="col-md-6">
                                        <div class="legend-wrap">
                                            <ul class="legend">
                                                <li class="legend-data"><label class="body-span-reg">Pre-Construction stage</label><span class="span-numdata">650 (65%)</span></li>
                                                <li class="legend-data"><label class="body-span-reg">Physical construction stage</label><span class="span-numdata">250 (25%)</span></li>
                                                <li class="legend-data"><label class="body-span-reg">Post construction stage</label><span class="span-numdata">100 (10%)</span></li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="card content-card">
                            <div class="card-header">
                                <span class="body_subtitle">Progress overview</span>
                            </div>  
                            <div class="card-body card-body-graph">
                                <div class="progress_bar_info">
                                    <div class="status_info"><span>NRA</span><span>350 (80% of 100)</span></div>
                                    <div class="progress">
                                        <div class="progress-bar" role="progressbar" style="width: 25%" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100"></div>
                                    </div>
                                </div>

                                <div class="progress_bar_info">
                                    <div class="status_info"><span>NRA Vulnerable</span><span>3100 (30% of 100)</span></div>
                                    <div class="progress">
                                        <div class="progress-bar" role="progressbar" style="width: 50%" aria-valuenow="50" aria-valuemin="0" aria-valuemax="100"></div>
                                    </div>
                                </div>

                                <div class="progress_bar_info">
                                    <div class="status_info"><span>Marginalised</span><span>300 (75% of 100)</span></div>
                                    <div class="progress">
                                        <div class="progress-bar" role="progressbar" style="width: 75%" aria-valuenow="75" aria-valuemin="0" aria-valuemax="100"></div>
                                    </div>  
                                </div>  

                                <div class="progress_bar_info">
                                    <div class="status_info"><span>Vulnerable</span><span>400 (90% of 100)</span></div>
                                    <div class="progress">
                                        <div class="progress-bar" role="progressbar" style="width: 100%" aria-valuenow="100" aria-valuemin="0" aria-valuemax="100"></div>
                                    </div>
                                </div>

                            </div>
                        </div>
                    </div>
        
                    <div class="col-md-6">
                        <div class="card content-card">
                            <div class="card-header">
                                <div class="card-header-left">
                                    <span class="body_title">Makwanpur</span>
                                    <span class="body_subtitle">Construction phases</span>
                                </div>
                                <div class="card-header-right">
                                    <form>
                                        <div class="form-group">
                                            <div class="select-option">
                                                <span>select Municipality</span>
                                                <div class="select-list">
                                                    <ul>
                                                        <li>
                                                            <div class="checkbox">
                                                                <input id="mun_graph1" type="checkbox" name="mun_graph1">
                                                                <label for="mun_graph1">Thaha</label>
                                                            </div>
                                                        </li>
                                                        <li>
                                                            <div class="checkbox">
                                                                <input id="mun_graph2" type="checkbox" name="mun_graph2">
                                                                <label for="mun_graph2">Dhordi</label>
                                                            </div>
                                                        </li>
                                                    </ul>
                                                </div>
                                            </div>
                                        </div>
                                    </form>
                                </div>
                            </div> 
                            <div class="card-body card-body-graph">
                                <div class="row no-gutters">
                                    <div class="col-md-6">
                                        <div id="radial-chart-inforight"></div>
                                    </div>
                                    <div class="col-md-6">
                                        <div class="legend-wrap">
                                            <ul class="legend">
                                                <li class="legend-data"><label class="body-span-reg">Pre-Construction stage</label><span class="span-numdata">650 (65%)</span></li>
                                                <li class="legend-data"><label class="body-span-reg">Physical construction stage</label><span class="span-numdata">250 (25%)</span></li>
                                                <li class="legend-data"><label class="body-span-reg">Post construction stage</label><span class="span-numdata">100 (10%)</span></li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="card content-card">
                            <div class="card-header">
                                <span class="body_subtitle">Progress overview</span>
                            </div>  
                            <div class="card-body card-body-graph">
                                <div class="progress_bar_info">
                                    <div class="status_info"><span>NRA</span><span>350 (80% of 100)</span></div>
                                    <div class="progress">
                                        <div class="progress-bar" role="progressbar" style="width: 25%" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100"></div>
                                    </div>
                                </div>

                                <div class="progress_bar_info">
                                    <div class="status_info"><span>NRA Vulnerable</span><span>3100 (30% of 100)</span></div>
                                    <div class="progress">
                                        <div class="progress-bar" role="progressbar" style="width: 50%" aria-valuenow="50" aria-valuemin="0" aria-valuemax="100"></div>
                                    </div>
                                </div>

                                <div class="progress_bar_info">
                                    <div class="status_info"><span>Marginalised</span><span>300 (75% of 100)</span></div>
                                    <div class="progress">
                                        <div class="progress-bar" role="progressbar" style="width: 75%" aria-valuenow="75" aria-valuemin="0" aria-valuemax="100"></div>
                                    </div>  
                                </div>  

                                <div class="progress_bar_info">
                                    <div class="status_info"><span>Vulnerable</span><span>400 (90% of 100)</span></div>
                                    <div class="progress">
                                        <div class="progress-bar" role="progressbar" style="width: 100%" aria-valuenow="100" aria-valuemin="0" aria-valuemax="100"></div>
                                    </div>
                                </div>

                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
       
    </div>
</section>
{% endblock %}