{% extends 'core/base.html' %}
{% load static %}
{% load filters %}

{% block content %}
<!-- Main Content -->

<section class="content">
    <div class="block-header">
        <div class="row">
            <div class="col-lg-7 col-md-6 col-sm-12">
                <h2>Dashboard-1</h2>
                <button class="btn btn-primary btn-icon mobile_menu" type="button"><i class="la la-navicon"></i></button>
            </div>
            <div class="col-lg-5 col-md-6 col-sm-12">
                <button class="btn btn-primary float-right right_icon_toggle_btn" type="button"><i class="la la-arrow-right"></i></button>
            </div>
        </div>
    </div>
    <div class="project-section">
        <div class="container-fluid">
            <div class="row">
                <div class="col-lg-5">
                    <div class="project-list">
                        <div class="card">
                            <div class="card-header">
                                <h5>Project overview</h5>
                            </div>
                            <div class="card-body">
                                <ul>
                                    <li><label>Name :</label><span>{{ request.project.name }}</span></li>
                                    <li><label>Project Manager :</label><span>{{ request.project|get_project_manager }}</span></li>
                                    <li><label>Start date :</label><span>{{ request.project.start_date }}</span></li>
                                    <li><label>End date :</label><span>{{ request.project.end_date }}</span></li>
                                    <li><label>reporting period :</label><span>{{ request.project.get_reporting_period_display }}</span></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-7">
                    <div class="map-view">
                        <div class="card">
                            <div class="card-header">
                                <h5>Project summary</h5>
                            </div>
                            <div class="card-body">
                                <div class="row clearfix">
                                    <div class="col-lg-6">
                                        <div class="card card-widget ">
                                            <div class="body">
                                                <a href="{% url 'output_list' %}">
                                                    <div class="card-content">
                                                        <div class="card-icon">
                                                            <i class="la la-signal"></i>
                                                        </div>
                                                        <div class="card-text">
                                                            <h3>{{ request.project.output.count }}</h3>
                                                            <h5>Output</h5>
                                                        </div>
                                                    </div>
                                                </a>
                                            </div>
                                        </div>
                                    </div>

                                    <div class="col-lg-6 ">
                                        <div class="card card-widget ">
                                            <div class="body">
                                                <a href="{% url 'activity_list' %}">
                                                    <div class="card-content">
                                                        <div class="card-icon">
                                                            <i class="la la-line-chart"></i>
                                                        </div>
                                                        <div class="card-text">
                                                            <h3>{{ activity_count }}</h3>
                                                            <h5>Activities</h5>
                                                        </div>
                                                    </div>
                                                </a>
                                            </div>
                                        </div>
                                    </div>

                                    <div class="col-lg-6 ">
                                        <div class="card card-widget mrt30">
                                            <div class="body">
                                                <a href="{% url 'cluster_list' %}">
                                                    <div class="card-content">
                                                        <div class="card-icon">
                                                            <i class="la la-transgender-alt"></i>
                                                        </div>
                                                        <div class="card-text">
                                                            <h3>{{ request.project.cluster.count }}</h3>
                                                            <h5>Cluster</h5>
                                                        </div>
                                                    </div>
                                                </a>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-lg-6 ">
                                        <div class="card card-widget mrt30">
                                            <div class="body">
                                                <a href="{% url 'beneficiary_list' %}">
                                                    <div class="card-content">
                                                        <div class="card-icon">
                                                            <i class="la la-sellsy"></i>
                                                        </div>
                                                        <div class="card-text">
                                                            <h3>{{ beneficiary_count }}</h3>
                                                            <h5>Benificiaries</h5>
                                                        </div>
                                                    </div>
                                                </a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="banificiary-graph">
            <div class="container-fluid">
                <div class="graph-wrapper">
                    <div class="graph-column">
                        <div class="row">
                            <div class="col-lg-4">
                                <div class="card ben-card">
                                    <div class="card-header">
                                        <h5>Gender</h5>
                                    </div>
                                    <div class="card-body">
                                        <div id="gender-donut"></div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-4">
                                <div class="card ben-card">
                                    <div class="card-header">
                                        <h5>Type</h5>
                                    </div>
                                    <div class="card-body">
                                        <div id="chart-pie"></div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-4">
                                <div class="card ben-card">
                                    <div class="card-header">
                                        <h5>Age Group</h5>
                                    </div>
                                    <div class="card-body">
                                        <div id="age-bar"></div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    <div class="graph">
        <div class="container-fluid">
            <div class="graph-warpper">
                <div class="card">
                    <div class="card-header">
                        <form method="get">
                            <div class="form-group">
                                <div class="select-option">
                                    <span>select District</span>
                                    <div class="select-list">
                                        <ul>
                                            {% for district in districts %}
                                            <li>
                                                <div class="checkbox">
                                                    <input id="dist_{{ district.id }}" type="checkbox" name="dist_{{ district.id }}">
                                                    <label for="dist_{{ district.id }}">{{ district.name }}</label>
                                                </div>
                                            </li>
                                            {% endfor %}
                                        </ul>
                                    </div>
                                </div>
                            </div>
                            <div class="form-group">
                                <div class="select-option">
                                    <span>select Municipality</span>
                                    <div class="select-list">
                                        <ul>
                                            {% for muni in municipalities %}
                                            <li>
                                                <div class="checkbox">
                                                    <input id="mun_{{ muni.id }}" type="checkbox" name="mun_{{ muni.id }}">
                                                    <label for="mun_{{ muni.id }}">{{ muni.name }}</label>
                                                </div>
                                            </li>
                                            {% endfor %}
                                        </ul>
                                    </div>
                                </div>
                            </div>
                            <div class="form-group">
                                <div class="select-option">
                                    <span>select cluster</span>
                                    <div class="select-list">
                                        <ul>
                                            {% for cluster in select_clusters %}
                                            <li>
                                                <div class="checkbox">
                                                    <input id="cl_{{ cluster.id }}" type="checkbox" name="cl_{{ cluster.id }}">
                                                    <label for="cl_{{ cluster.id }}">{{ cluster.name }}</label>
                                                </div>
                                            </li>
                                            {% endfor %}
                                        </ul>
                                    </div>
                                </div>
                            </div>

                            <div class="form-group">
                                <button type="submit" class="btn" name="progress">Filter</button>
                            </div>
                        </form>
                    </div>
                </div>
                <div class="graph-column">
                    <div class="row">
                        <div class="col-lg-12">
                            <div class="card">
                                <div class="card-header">
                                    <h5>Progress overview</h5>
                                </div>
                                <div class="card-body">
                                    <div id="chart-bar"></div>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-6">
                            <div class="card">
                                <div class="card-header">
                                    <h5>map</h5>
                                </div>
                                <div class="card-body">
                                    <div id="map" style="height:320px"></div>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-6">
                            <div class="card">
                                <div class="card-header">
                                    <h5>Cluster</h5>
                                </div>
                                <div class="card-body">
                                    <div id="cluseter_time"></div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="graph activity-graph">
        <div class="container-fluid">
            <div class="graph-warpper">
                <div class="card">
                    <div class="card-header">
                        <form method="get">
                            <div class="form-group">
                                <div class="select-option">
                                    <span>select District</span>
                                    <div class="select-list">
                                        <ul>
                                            {% for district in districts %}
                                            <li>
                                                <div class="checkbox">
                                                    <input id="dist_{{ district.id }}" type="checkbox" name="dist_{{ district.id }}">
                                                    <label for="dist_{{ district.id }}">{{ district.name }}</label>
                                                </div>
                                            </li>
                                            {% endfor %}
                                        </ul>
                                    </div>
                                </div>
                            </div>
                            <div class="form-group">
                                <div class="select-option">
                                    <span>select Municipality</span>
                                    <div class="select-list">
                                        <ul>
                                            {% for muni in municipalities %}
                                            <li>
                                                <div class="checkbox">
                                                    <input id="mun_{{ muni.id }}" type="checkbox" name="mun_{{ muni.id }}">
                                                    <label for="mun_{{ muni.id }}">{{ muni.name }}</label>
                                                </div>
                                            </li>
                                            {% endfor %}
                                        </ul>
                                    </div>
                                </div>
                            </div>
                            <div class="form-group">
                                <div class="select-option">
                                    <span>select cluster</span>
                                    <div class="select-list">
                                        <ul>
                                            {% for cluster in select_clusters %}
                                            <li>
                                                <div class="checkbox">
                                                    <input id="cl_{{ cluster.id }}" type="checkbox" name="dist_{{ cluster.id }}">
                                                    <label for="cl_{{ cluster.id }}">{{ cluster.name }}</label>
                                                </div>
                                            </li>
                                            {% endfor %}
                                        </ul>
                                    </div>
                                </div>
                            </div>
                            <div class="form-group">
                                <div class="select-option">
                                    <span>select Activity group</span>
                                    <div class="select-list">
                                        <ul>
                                            {% for obj in activity_groups %}
                                            <li>
                                                <div class="checkbox">
                                                    <input id="ag_{{ obj.id }}" type="checkbox" name="acg_{{ obj.id }}">
                                                    <label for="ag_{{ obj.id }}">{{ obj.name }}</label>
                                                </div>
                                            </li>
                                            {% endfor %}
                                        </ul>
                                    </div>
                                </div>
                            </div>
                            <div class="form-group">
                                <div class="select-option">
                                    <span>select activity</span>
                                    <div class="select-list">
                                        <ul>
                                            {% for obj in activities %}
                                            <li>
                                                <div class="checkbox">
                                                    <input id="a_{{ obj.id }}" type="checkbox" name="a_{{ obj.id }}">
                                                    <label for="a_{{ obj.id }}">{{ obj.name }}</label>
                                                </div>
                                            </li>
                                            {% endfor %}
                                        </ul>
                                    </div>
                                </div>
                            </div>
                            <div class="form-group">
                                <button type="submit" class="btn" name="cluster_activity">Filter</button>
                            </div>
                        </form>
                    </div>
                </div>
                <div class="graph-column">
                    <div class="row">
                        <div class="col-lg-12">
                            <div class="card">
                                <div class="card-header">
                                    <h5>Cluster level activity overview</h5>
                                </div>
                                <div class="card-body">
                                    <div id="chart-single"></div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

{% endblock %}
{% block scripts %}
<script>
    intervals = {{ intervals|safe }};
    chart_single = {{ chart_single|safe }};
    categories = {{ categories|safe }}
    progress_data = {{ progress_data|safe }};
    pie_data = {{ pie_data|safe }};
    cluster_progress_data = {{ cluster_progress_data|safe }};
</script>
<script src="{% static 'js/c3.bundle.js' %}"></script>
<script src="{% static 'js/c3.js' %}"></script>
{% endblock %}

