{% extends 'core/base.html' %}
{% load static %}
{% load filters %}
{% block content %}
<!-- Main Content -->

<section class="content">
    <div class="block-header">
        <div class="row">
            <div class="col-lg-7 col-md-6 col-sm-12">
                <h2>Dashboard-2</h2>
                <button class="btn btn-primary btn-icon mobile_menu" type="button"><i class="la la-navicon"></i></button>
            </div>
            <div class="col-lg-5 col-md-6 col-sm-12">                
                <button class="btn btn-primary float-right right_icon_toggle_btn" type="button"><i class="la la-arrow-right"></i></button>
            </div>
        </div>
    </div>
    <div class="graph">
        <div class="container-fluid">
            <div class="card">
                <div class="card-header">
                    <form method="get">
                        {% csrf_token %}
                        <div class="form-group">
                            <div class="select-option">
                                <span>select District</span>
                                <div class="select-list">
                                    <ul>
                                        {% for district in districts %}
                                        <li>
                                            <div class="checkbox">
                                                <input id="dist_{{ district.id }}" type="checkbox" name="dist_{{ district.id }}">
                                                <label for="dist_{{ district.id }}">{{ district.name }}</label>
                                            </div>
                                        </li>
                                        {% endfor %}
                                    </ul>
                                </div>
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="select-option">
                                <span>select Municipality</span>
                                <div class="select-list">
                                    <ul>
                                        {% for municipality in municipalities %}
                                        <li>
                                            <div class="checkbox">
                                                <input id="mun_{{ municipality.id }}" type="checkbox" name="mun_{{ municipality.id }}">
                                                <label for="mun_{{ municipality.id }}">{{ municipality.name }}</label>
                                            </div>
                                        </li>
                                        {% endfor %}
                                    </ul>
                                </div>
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="select-option">
                                <span>select cluster</span>
                                <div class="select-list">
                                    <ul>
                                        {% for cluster in clusters %}
                                        <li>
                                            <div class="checkbox">
                                                <input id="cl_{{ cluster.id }}" type="checkbox" name="cl_{{ cluster.id }}">
                                                <label for="cl_{{ cluster.id }}">{{ cluster.name }}</label>
                                            </div>
                                        </li>
                                        {% endfor %}
                                    </ul>
                                </div>
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="select-option">
                                <span>select Type</span>
                                <div class="select-list">
                                    <ul>
                                        {% for type in types %}
                                        <li>
                                            <div class="checkbox">
                                                <input id="tp_{{ type.Type }}" type="checkbox" name="tp_{{ type.Type }}">
                                                <label for="tp_{{ type.Type }}">{{ type.Type }}</label>
                                            </div>
                                        </li>
                                        {% endfor %}
                                    </ul>
                                </div>
                            </div>
                        </div>
                        <div class="form-group">
                            <button type="submit" class="btn">Filter</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
        <div class="graph-column">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-lg-12">
                        <div class="card">
                            <div class="card-header">
                                <h5>Beneficiary</h5>
                            </div>
                            <div class="card-body">
                                <table id="Beneficiary_table" class="table table-striped table-bordered ">
                                    <thead>
                                        <tr>
                                            <th rowspan="2" class="text-center">Beneficiary name</th>
                                            <th rowspan="2" class="text-center">Type</th>
                                            <th rowspan="2" class="text-center">Work Progress</th>
                                            {% for obj in activity_groups %}
                                            {% with obj|get_activity_count as count %}
                                            <th colspan="{{ count }}" class="text-center">{{ obj.name }}</th>
                                            {% endwith %}
                                            {% endfor %}
                                        </tr>
                                        <tr>
                                            {% for obj in activity_groups %}
                                            {% for activity in obj.activity.all %}
                                                <th>{{ activity.name }} ({{ activity.weight }}%)</th>
                                            {% endfor %}
                                            {% endfor %}
                                        </tr>
                                    </thead>
                                    <tbody>
                                    {% for beneficiary in beneficiaries %}
                                        <tr>
                                            <td>{{ beneficiary.name }}</td>
                                            <td>{{ beneficiary.Type }}</td>
                                            {% with beneficiary|get_beneficiary_progress as progress %}
                                            <td>
                                                <div class="progress">
                                                    <div class="progress-bar" role="progressbar" aria-valuenow="100" aria-valuemin="0" id="p_e_nfunc" aria-valuemax="200" style="width:{{ progress }}%;">
                                                        <span class="popOver">{{ progress }}%</span>
                                                    </div>
                                                </div>
                                            </td>
                                            {% endwith %}
                                            {% for obj in activity_groups %}
                                            {% for activity in obj.activity.all %}
                                            {% if activity|check_activity_progress:beneficiary %}
                                                <td><span class="completed"></span></td>
                                            {% else %}
                                                <td></td>
                                            {% endif %}
                                            {% endfor %}
                                            {% endfor %}
                                        </tr>
                                    {% endfor %}
                                    </tbody>
                                </table>
                                <div class="pagination">
                                <span class="step-links">
                                    {% if beneficiaries.has_previous %}
                                        <a href="?{% param_replace page=1 %}">&laquo; first</a>
                                        <a href="?{% param_replace page=page_obj.previous_page_number %}">previous</a>
                                    {% endif %}

                                    <span class="current">
                                        Page {{ beneficiaries.number }} of {{ beneficiaries.paginator.num_pages }}.
                                    </span>

                                    {% if beneficiaries.has_next %}
                                        <a href="?{% param_replace page=beneficiaries.next_page_number %}">next</a>
                                        <a href="?{% param_replace page=beneficiaries.paginator.num_pages %}">last
                                            &raquo;</a>
                                    {% endif %}
                                </span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
{% endblock %}


