{% extends 'core/base.html' %}
{% load static %}

<% block title %>Practical Action<% endblock %>

{% block content %}
<!-- Main Content -->
<section class="content">
    <div class="body_scroll">
        <div class="block-header">
            <div class="row">
                <div class="col-lg-7 col-md-6 col-sm-12">
                    <h2>Project list</h2>
                    <ul class="breadcrumb">
                        <li class="breadcrumb-item"><a href="{% url 'home' %}"><i class="la la-home"></i> Practical Action</a></li>
                        <li class="breadcrumb-item">Project</li>
                        <li class="breadcrumb-item active">project list</li>
                    </ul>
                    <button class="btn btn-primary btn-icon mobile_menu" type="button"><i class="la la-navicon"></i></button>
                </div>
                <div class="col-lg-5 col-md-6 col-sm-12">                
                    <button class="btn float-right right_icon_toggle_btn" type="button"><i class="la la-arrow-right"></i></button>
                    <a href="{% url 'project_add' %}" ><button class="btn btn-success btn-icon float-right" type="button"><i class="la la-plus"></i></button></a>
                </div>
            </div>
        </div>
        <div class="container-fluid">
            <div class="card project_list">
                <div class="table-responsive">
                    <table id="Beneficiary_table" class="table table-hover c_table">
                        <thead>
                            <tr>
                                <th>Project Name</th>
                                <th>Project Description</th>
                                <th>Project sector</th>
                                <th>start date</th>
                                <th>end date</th>
                                <th>reporting period</th>
                                <th>beneficiary</th>
                                <th>action</th>
                            </tr>
                        </thead>
                            <tbody>
                                {% for project in object_list %}
                                
                                <tr>
                                    <td>{{ project.name }}</td>
                                    <td>{{ project.description }}</td>
                                    <td>{{ project.sector }}</td>
                                    <td>{{ project.start_date }}</td>
                                    <td>{{ project.end_date }}</td>
                                    <td>{{ project.reporting_period }}</td>
                                    <td>{{ project.beneficiaries }}</td>
                                    <td class="table-action">
                                        <form action="{% url 'project_delete' project.pk %}">
                                            <button type="submit" onclick="return confirm('Are you sure?')" class="btn remove"> <i class="la la-trash-o"></i> Delete</button>
                                        </form>
                                        <a href="{% url 'project_edit' project.pk %}" class="btn"> <i class="la la-edit"></i> Edit</a>
                                    </td>
                                </tr>
                                {% endfor %}
                            </tbody>
                    </table>
                </div>
                <div class="table-footer">
                    <a class="btn" href="{% url 'project_add' %}"><i class="la la-plus"></i> Add project</a>
<!--                     <ul class="pagination pagination-primary">
                        <li class="page-item active"><a class="page-link" href="javascript:void(0);">1</a></li>
                        <li class="page-item"><a class="page-link" href="javascript:void(0);">2</a></li>
                        <li class="page-item"><a class="page-link" href="javascript:void(0);">3</a></li>
                        <li class="page-item"><a class="page-link" href="javascript:void(0);">4</a></li>
                        <li class="page-item"><a class="page-link" href="javascript:void(0);">5</a></li>
                    </ul> -->
                </div> 
            </div>
        </div>
    </div>
</section>

{% endblock %}

