{% extends 'core/base.html' %}

{% block title %}Project Create{% endblock %}

{% block content %}
<section class="content">
    <div class="formHolder">
        <div class="widget-info margin-top-large">
            <div class="widget-head">
                <div class="widget-body mt-2 horizontalForm">
                    <div class="widget-body">
                        <h3>Project {% if project %}Edit{% else %}Add{% endif %}</h3>
                        <form action="" method="POST" enctype="multipart/form-data" novalidate>     {%csrf_token %}
                            {{ form.as_p }}
                            <button type="submit" class="btn btn-xs btn-primary">Submit</button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
{% endblock %}