{% load static %}
<!doctype html>
<html class="no-js " lang="en">
<head>
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=Edge">
<meta content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" name="viewport">
<meta name="description" content="Responsive Practical action dashboard.">
<title>Practical Action</title>
<link rel="icon" href="favicon.ico" type="image/x-icon">
 <!-- Favicon-->
<link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}">
<link rel="stylesheet" href="{% static 'css/line-awesome.min.css' %}">
<!-- Custom Css -->
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
</head>

<body class="theme-blush">

<div class="authentication">
    <div class="container">
        <div class="row">
            <div class="col-lg-4 col-sm-12">
                <form method="post" action="/core/sign-in" class="card auth_form">
                    {% csrf_token %}
                    <div class="header">
                        <img class="logo" src="{% static 'images/logo.png' %}" alt="">
                        <h5>Log in</h5>
                    </div>
                    <div class="body">

                        <div class="input-group mb-3">
                            <input type="text" id="inputUsername" class="form-control" placeholder="Username" name="username" required>
                            <div class="input-group-append">
                                <span class="input-group-text"><i class="la la-user"></i></span>
                            </div>
                            {% if email_error %}
                                <div>
                                    {{ email_error }}
                                </div>
                                {% elif not valid_email %}
                                    <div>
                                        User With The Email/Username Doesnot Exist.
                                    </div>
                            {% endif %}
                        </div>
                        <div class="input-group mb-3">
                            <input type="password" class="form-control" placeholder="Password" name="password" required>
                            <div class="input-group-append">                                
                                <span class="input-group-text"><a href="forgot-password.html" class="forgot" title="Forgot Password"><i class="la la-lock"></i></a></span>
                            </div>
                            {% if password_error %}
                                <div id="passwordHelp">
                                    Incorrect Password ! Please Check Your Password.
                                </div>
                            {% endif %}
                        </div>
                        <div class="checkbox">
                            <input id="remember_me" type="checkbox">
                            <label for="remember_me">Remember Me</label>
                        </div>
                        {% for error in form.errors %}
                        {{ error }}
                        {% endfor %}
                        <button type="submit" class="btn btn-primary btn-block waves-effect waves-light">SIGN IN</button>
                        <a style="color:blue;" href="/core/sign-up/">Don't have an account?</a>
<!--                         <div class="signin_with mt-3">
                            <p class="mb-0">or Sign Up using</p>
                            <button class="btn btn-primary btn-icon btn-icon-mini btn-round facebook"><i class="la la-facebook"></i></button>
                            <button class="btn btn-primary btn-icon btn-icon-mini btn-round twitter"><i class="la la-twitter"></i></button>
                            <button class="btn btn-primary btn-icon btn-icon-mini btn-round google"><i class="la la-google-plus"></i></button>
                        </div> -->
                    </div>
                </form>
                <div class="copyright text-center">
                    &copy;
                    <script>document.write(new Date().getFullYear())</script>,
                    <span>Designed by <a href="https://naxa.com.np/" target="_blank">Naxa</a></span>
                </div>
            </div>
            <div class="col-lg-8 col-sm-12">
                <div class="card">
                    <img src="{% static 'images/signin.svg' %}" alt="Sign In"/>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- Jquery Core Js --> 
<script src="{% static 'js/libscripts.bundle.js' %}"></script> <!-- Lib Scripts Plugin Js ( jquery.v3.2.1, Bootstrap4 js) --> 
<script src="{% static 'js/vendorscripts.bundle.js' %}"></script> <!-- slimscroll, waves Scripts Plugin Js -->

<script src="{% static 'js/mainscripts.bundle.js' %}"></script>
</body>


</html>
<script>
    $(document).ready(function(){
        if('{{login_username}}'){
                        document.getElementById('inputUsername').value='{{login_username}}';
        }
    });
</script>