{% extends 'core/base.html' %}
{% load static %}

{% block title %}Submission List{% endblock %}

{% block content %}

<section class="content">
    <div class="block-header">
        <div class="row">
            <div class="col-lg-7 col-md-6 col-sm-12">
                <h2>Cluster</h2>
                <ul class="breadcrumb">
                    <li class="breadcrumb-item"><a href="index.html"><i class="la la-home"></i> Practical</a></li>
                    <li class="breadcrumb-item active">submission list</li>
                </ul>
                <button class="btn btn-icon mobile_menu" type="button"><i class="la la-navicon"></i></button>
            </div>
            <div class="col-lg-5 col-md-6 col-sm-12"> 
                <button class="btn float-right right_icon_toggle_btn" type="button"><i class="la la-arrow-right"></i></button>
                <div class="form-group">
                    <div class="select-option">
                        <select class="custom-select show-tick ms select2" data-placeholder="Select">
                            <option selected>cluster</option>
                            <option>cluster 2</option>
                            <option>cluster 3</option>
                            <option>cluster 4</option>
                        </select>
                    </div>
                    <div class="select-option">
                        <select class="custom-select show-tick ms select2" data-placeholder="Select">
                            <option selected>banificiary</option>
                            <option>banificiary 2</option>
                            <option>banificiary 3</option>
                            <option>banificiary 4</option>
                        </select>
                    </div>
                </div> 
            </div>
        </div>
    </div>
    <div class="accordion-form project-form">
        <div class="card">
            <div class="card-body">
                <form action="cluster-detail.html" post="">
                    <!-- accordion -->
                    <div class="cluster-accordion submission-acc">
                        <div id="accordion">
                            <div class="card">
                                <div class="card-header" id="heading-2">
                                    <h5>
                                        <a class="collapsed" role="button" data-toggle="collapse" href="#collapse-2" aria-expanded="true"
                                            aria-controls="collapse-2">
                                            Social marketing on local FM
                                        </a>
                                        <span class="submission-count">
                                            <small>12</small><sup><i class="la la-bell"></i></sup>
                                        </span>
                                    </h5>
                                </div>
                                <div id="collapse-2" class="collapse show" data-parent="#accordion" aria-labelledby="heading-2">
                                    <div class="card-body">
                                        <ul>
                                            <li>
                                                <a href="#">Massage airing from local FM</a>
                                                <span class="submission-count">
                                                    <small>2</small>
                                                </span>
                                                <span class="checkbox">
                                                    <input type="checkbox" id="activity-1" name="activity-1">
                                                    <label for="activity-1"></label>
                                                </span>
                                            </li>
                                            <li>
                                                <a href="#">Reached out the information ( coverage of FM stations)</a>
                                                <span class="submission-count">
                                                    <small>1</small><sup><i class="la la-bell"></i></sup>
                                                </span>
                                                <span class="checkbox">
                                                    <input type="checkbox" id="activity-2" name="activity-1">
                                                    <label for="activity-2"></label>
                                                </span>
                                            </li>
                                            <li>
                                                <a href="#">Number of IEC materials preparation </a>
                                                <span class="submission-count">
                                                    <small>5</small><sup><i class="la la-bell"></i></sup>
                                                </span>
                                                <span class="checkbox">
                                                    <input type="checkbox" id="activity-3" name="activity-1">
                                                    <label for="activity-3"></label>
                                                </span>
                                            </li>
                                            <li>
                                                <a href="#">Reached out the information ( coverage of FM stations)</a>
                                                <span class="submission-count">
                                                    <small>4</small><sup><i class="la la-bell"></i></sup>
                                                </span>
                                                <span class="checkbox">
                                                    <input type="checkbox" id="activity-4" name="activity-1">
                                                    <label for="activity-4"></label>
                                                </span>
                                            </li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                            <div class="card">
                                <div class="card-header" id="heading-3">
                                    <h5>
                                        <a class="collapsed" role="button" data-toggle="collapse" href="#collapse-3" aria-expanded="false"
                                            aria-controls="collapse-3">
                                            IEC material prepartion and dissemination
                                        </a>
                                        <span class="submission-count">
                                            <small>12</small>
                                        </span>
                                    </h5>
                                </div>
                                <div id="collapse-3" class="collapse" data-parent="#accordion" aria-labelledby="heading-3">
                                    <div class="card-body">
                                        <ul>
                                            <li>
                                                <a href="#">Massage airing from local FM</a>
                                                <span class="submission-count">
                                                    <small>2</small>
                                                </span>
                                                <span class="checkbox">
                                                    <input type="checkbox" id="activity-1" name="activity-1">
                                                    <label for="activity-1"></label>
                                                </span>
                                            </li>
                                            <li>
                                                <a href="#">Reached out the information ( coverage of FM stations)</a>
                                                <span class="submission-count">
                                                    <small>1</small><sup><i class="la la-bell"></i></sup>
                                                </span>
                                                <span class="checkbox">
                                                    <input type="checkbox" id="activity-2" name="activity-1">
                                                    <label for="activity-2"></label>
                                                </span>
                                            </li>
                                            <li>
                                                <a href="#">Number of IEC materials preparation </a>
                                                <span class="submission-count">
                                                    <small>5</small><sup><i class="la la-bell"></i></sup>
                                                </span>
                                                <span class="checkbox">
                                                    <input type="checkbox" id="activity-3" name="activity-1">
                                                    <label for="activity-3"></label>
                                                </span>
                                            </li>
                                            <li>
                                                <a href="#">Reached out the information ( coverage of FM stations)</a>
                                                <span class="submission-count">
                                                    <small>4</small><sup><i class="la la-bell"></i></sup>
                                                </span>
                                                <span class="checkbox">
                                                    <input type="checkbox" id="activity-4" name="activity-1">
                                                    <label for="activity-4"></label>
                                                </span>
                                            </li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                            <div class="card">
                                <div class="card-header" id="heading-4">
                                    <h5>
                                        <a class="collapsed" role="button" data-toggle="collapse" href="#collapse-4" aria-expanded="false"
                                            aria-controls="collapse-4">
                                            Hoarding board and leaflet
                                        </a>
                                        <span class="submission-count">
                                            <small>10</small><sup><i class="la la-bell"></i></sup>
                                        </span>
                                    </h5>
                                </div>
                                <div id="collapse-4" class="collapse" data-parent="#accordion" aria-labelledby="heading-3">
                                    <div class="card-body">
                                        <ul>
                                            <li>
                                                <a href="#">Massage airing from local FM</a>
                                                <span class="submission-count">
                                                    <small>2</small>
                                                </span>
                                                <span class="checkbox">
                                                    <input type="checkbox" id="activity-1" name="activity-1">
                                                    <label for="activity-1"></label>
                                                </span>
                                            </li>
                                            <li>
                                                <a href="#">Reached out the information ( coverage of FM stations)</a>
                                                <span class="submission-count">
                                                    <small>1</small><sup><i class="la la-bell"></i></sup>
                                                </span>
                                                <span class="checkbox">
                                                    <input type="checkbox" id="activity-2" name="activity-1">
                                                    <label for="activity-2"></label>
                                                </span>
                                            </li>
                                            <li>
                                                <a href="#">Number of IEC materials preparation </a>
                                                <span class="submission-count">
                                                    <small>5</small><sup><i class="la la-bell"></i></sup>
                                                </span>
                                                <span class="checkbox">
                                                    <input type="checkbox" id="activity-3" name="activity-1">
                                                    <label for="activity-3"></label>
                                                </span>
                                            </li>
                                            <li>
                                                <a href="#">Reached out the information ( coverage of FM stations)</a>
                                                <span class="submission-count">
                                                    <small>4</small><sup><i class="la la-bell"></i></sup>
                                                </span>
                                                <span class="checkbox">
                                                    <input type="checkbox" id="activity-4" name="activity-1">
                                                    <label for="activity-4"></label>
                                                </span>
                                            </li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                            <div class="card">
                                <div class="card-header" id="heading-5">
                                    <h5>
                                        <a class="collapsed" role="button" data-toggle="collapse" href="#collapse-5" aria-expanded="false"
                                            aria-controls="collapse-5">
                                            Establishment of commercial CSEB enterprise
                                        </a>
                                        <span class="submission-count">
                                            <small>12</small>
                                        </span>
                                    </h5>
                                </div>
                                <div id="collapse-5" class="collapse" data-parent="#accordion" aria-labelledby="heading-5">
                                    <div class="card-body">
                                        <ul>
                                            <li>
                                                <a href="#">Massage airing from local FM</a>
                                                <span class="submission-count">
                                                    <small>2</small>
                                                </span>
                                                <span class="checkbox">
                                                    <input type="checkbox" id="activity-1" name="activity-1">
                                                    <label for="activity-1"></label>
                                                </span>
                                            </li>
                                            <li>
                                                <a href="#">Reached out the information ( coverage of FM stations)</a>
                                                <span class="submission-count">
                                                    <small>1</small><sup><i class="la la-bell"></i></sup>
                                                </span>
                                                <span class="checkbox">
                                                    <input type="checkbox" id="activity-2" name="activity-1">
                                                    <label for="activity-2"></label>
                                                </span>
                                            </li>
                                            <li>
                                                <a href="#">Number of IEC materials preparation </a>
                                                <span class="submission-count">
                                                    <small>5</small><sup><i class="la la-bell"></i></sup>
                                                </span>
                                                <span class="checkbox">
                                                    <input type="checkbox" id="activity-3" name="activity-1">
                                                    <label for="activity-3"></label>
                                                </span>
                                            </li>
                                            <li>
                                                <a href="#">Reached out the information ( coverage of FM stations)</a>
                                                <span class="submission-count">
                                                    <small>4</small><sup><i class="la la-bell"></i></sup>
                                                </span>
                                                <span class="checkbox">
                                                    <input type="checkbox" id="activity-4" name="activity-1">
                                                    <label for="activity-4"></label>
                                                </span>
                                            </li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- <div class="form-footer pull-right">
                        <button type="submit" class="btn" role="button">Save</button>
                        <a class="btn remove" href="cluster-form.html"><i class="la la-plus"></i> Add cluster</a>
                    </div> -->
                </form>
            </div>
        </div>
    </div>
</section>

{% endblock %}