{% extends 'core/base.html' %}
{% load static %}
{% load filters %}

{% block title %}Submission List{% endblock %}

{% block content %}

<section class="content">
    <div class="block-header">
        <div class="row">
            <div class="col-lg-7 col-md-6 col-sm-12">
                <h2>Cluster</h2>
                <ul class="breadcrumb">
                    <li class="breadcrumb-item"><a href="index.html"><i class="la la-home"></i> Practical</a></li>
                    <li class="breadcrumb-item active">submission list</li>
                </ul>
                <button class="btn btn-icon mobile_menu" type="button"><i class="la la-navicon"></i></button>
            </div>
            <div class="col-lg-5 col-md-6 col-sm-12"> 
                <button class="btn float-right right_icon_toggle_btn" type="button"><i class="la la-arrow-right"></i></button>
                <div class="form-group">
                    <div class="select-option">
                        <select class="custom-select show-tick ms select2" data-placeholder="Select">
                            <option selected>cluster</option>
                            <option>cluster 2</option>
                            <option>cluster 3</option>
                            <option>cluster 4</option>
                        </select>
                    </div>
                    <div class="select-option">
                        <select class="custom-select show-tick ms select2" data-placeholder="Select">
                            <option selected>banificiary</option>
                            <option>banificiary 2</option>
                            <option>banificiary 3</option>
                            <option>banificiary 4</option>
                        </select>
                    </div>
                </div> 
            </div>
        </div>
    </div>
    <div class="accordion-form project-form">
        <div class="card">
            <div class="card-body">
                    <!-- accordion -->
                    <div class="cluster-accordion submission-acc">
                        <div id="accordion">
                            {% for item in cluster_activity_groups %}
                                <div class="card">
                                    <div class="card-header" id="heading-{{ item.id }}">
                                        <h5>
                                            <a class="collapsed" role="button" data-toggle="collapse" href="#collapse-{{ item.id }}" aria-expanded="true"
                                                aria-controls="collapse-{{ item.id }}">
                                                {{ item.activity_group.name }}
                                            </a>
                                            <span class="submission-count">
                                                <small>{{ item|cluster_activity_group_submission_count }}</small><sup><i class="la la-bell"></i></sup>
                                            </span>
                                        </h5>
                                    </div>
                                    <div id="collapse-{{ item.id }}" class="collapse show" data-parent="#accordion" aria-labelledby="heading-{{ item.id }}">
                                        <div class="card-body">
                                            <br>
                                            <ul>
                                                {% for c_act in item.ca.all %}

                                                <li>
                                                    <a href="{% url 'submission_list' c_act.id %}">{{ c_act.activity.name }}</a>
                                                    <span class="submission-count">
                                                        <small>{{ c_act|cluster_activity_submission_count }}</small><sup><i class="la la-bell"></i></sup>
                                                    </span>
                                                    <span class="checkbox">
                                                        <input type="checkbox" id="activity-{{ c_act.id }}" name="activity-{{ c_act.id }}">
                                                        <label for="activity-{{ c_act.id }}"></label>
                                                    </span>
                                                    <span style="display: inline-block;">
                                                        <form action="/core/update-cluster-act/{{ pk }}/{{ c_act.id }}/" method="post">
                                                            {% csrf_token %}
                                                            <div class="row form-group">
                                                                <div class="select-option">
                                                                <select class="custom-select" id="time_interval" name="time_interval">
                                                                    <option value="None" selected="selected">-------</option>
                                                                    {% for interval in interval %}
                                                                        {% if interval == c_act.time_interval %}
                                                                            <option value="{{ interval.id }}" selected="selected">{{ interval }}</option>
                                                                        {% else %}
                                                                            <option value="{{ interval.id }}">{{ interval }}</option>
                                                                        {% endif %}
                                                                    {% endfor %}
                                                                </select>
                                                            </div>
                                                                 {% if not c_act.activity.beneficiary_level %}
                                                                    <label for="target_number_{{ c_act.id }}"><small>Target Number</small></label>
                                                                    <input type="text" class="form-control" id="target_number_{{ c_act.id }}" name="target_number" style="width: 50px;" value="{{ c_act.target_number }}">
                                                                {% endif %}
                                                            <button type="submit" class="btn"><i class="la la-check"></i></button>
                                                            </div>
                                                        </form>
                                                        </span>

                                                </li>

                                                {% endfor %}

                                            </ul>
                                        </div>
                                    </div>
                                </div>
                            {% endfor %}

                        </div>
                    </div>
                    <!-- <div class="form-footer pull-right">
                        <button type="submit" class="btn" role="button">Save</button>
                        <a class="btn remove" href="cluster-form.html"><i class="la la-plus"></i> Add cluster</a>
                    </div> -->
            </div>
        </div>
    </div>
</section>

{% endblock %}
