{% extends 'core/base.html' %}
{% load static %}

{% block title %}UserRole List{% endblock %}

{% block content %}
<!-- Main Content -->
<section class="content">
    <div class="body_scroll">
        <div class="block-header">
            <div class="row">
                <div class="col-lg-7 col-md-6 col-sm-12">
                    <h2>UserRole list</h2>
                    <ul class="breadcrumb">
                        <li class="breadcrumb-item"><a href="{% url 'home' %}"><i class="la la-home"></i> Practical Action</a></li>
                        <li class="breadcrumb-item">User-Role</li>
                        <li class="breadcrumb-item active">list</li>
                    </ul>
                    <button class="btn btn-primary btn-icon mobile_menu" type="button"><i class="zmdi zmdi-sort-amount-desc"></i></button>
                </div>
                <div class="col-lg-5 col-md-6 col-sm-12">                
                    <button class="btn btn-primary btn-icon float-right right_icon_toggle_btn" type="button"><i class="la la-arrow-right"></i></button>
                    <a href="{% url 'userrole_add' %}" ><button class="btn btn-success btn-icon float-right" type="button"><i class="la la-plus"></i></button></a>
                </div>
            </div>
        </div>
        <div class="container-fluid">
            <div class="row clearfix">
                <div class="col-md-12 col-sm-12 col-xs-12">
                    <div class="card project_list">
                        <div class="table-responsive">
                            <table id="Beneficiary_table" class="table table-hover c_table theme-color">
                                <thead>
                                    <tr> 
                                        <th>User</th> 
                                        <th>Project</th>                                        
                                        <th>Group</th>
                                        <th>Cluster</th>
                                        <th>Action</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    {% for userrole in object_list %}
                                
                                    <tr>
                                        <td>{{ userrole.user }}</td>
                                        <td>{{ userrole.project }}</td>
                                        <td>{{ userrole.group }}</td>
                                        <td>{{ userrole.cluster }}</td>
                                        <td class="table-action">
                                            <a href="{% url 'userrole_delete' userrole.pk %}" class="btn remove"> <i class="la la-remove"></i></a>
                                            <a href="{% url 'userrole_edit' userrole.pk %}" class="btn"> <i class="la la-edit"></i></a>
                                        </td>
                                    </tr>

                                    {% endfor %}
                                </tbody>
                            </table>
                        </div>
                        <ul class="pagination pagination-primary mt-4">
                            <li class="page-item active"><a class="page-link" href="javascript:void(0);">1</a></li>
                            <li class="page-item"><a class="page-link" href="javascript:void(0);">2</a></li>
                            <li class="page-item"><a class="page-link" href="javascript:void(0);">3</a></li>
                            <li class="page-item"><a class="page-link" href="javascript:void(0);">4</a></li>
                            <li class="page-item"><a class="page-link" href="javascript:void(0);">5</a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

{% endblock %}