{% extends 'core/base.html' %}

{% block title %}User-Role Create{% endblock %}

{% block content %}
<section class="content">
    <div class="block-header">
        <div class="row">
            <div class="col-lg-7 col-md-6 col-sm-12">
                <h2>User-Role form</h2>
                <ul class="breadcrumb">
                    <li class="breadcrumb-item"><a href="{% url 'home' %}"><i class="la la-home"></i> Practical Action</a></li>
                    <li class="breadcrumb-item"><a href="{% url 'home' %}">Project</a></li>
                    <li class="breadcrumb-item"><a href="{% url 'userrole_list' %}">User-Role list</a></li>
                    <li class="breadcrumb-item active">{% if form.instance.id %}Edit{% else %}Add{% endif %} User-Role</li>
                </ul>
                <button class="btn btn-icon mobile_menu" type="button"><i class="la la-navicon"></i></button>
            </div>
            <div class="col-lg-5 col-md-6 col-sm-12">                
                <button class="btn float-right right_icon_toggle_btn" type="button"><i class="la la-arrow-right"></i></button>
            </div>
        </div>
    </div>
    <div class="project-form">
        <div class="card">
            <div class="card-body">
                <form method="POST">
                    {% csrf_token %}
                    <div class="form-group">
                        <label>{{ form.user.label }}</label>
                        <div class="select-option">
                            {{ form.user }}
                        </div>
                    </div>
                    {% if form.user.errors %}
                    <font color="crimson">{{ form.user.errors }}</font>
                    {% endif %}

                    <div class="form-group">
                        <label>{{ form.project.label }}</label>
                        <div class="select-option">
                            {{ form.project }}
                        </div>
                    </div>
                    {% if form.project.errors %}
                    <font color="crimson">{{ form.project.errors }}</font>
                    {% endif %}

                    <div class="form-group">
                        <label>{{ form.group.label }}</label>
                        <div class="select-option">
                            {{ form.group }}
                        </div>
                    </div>
                    {% if form.group.errors %}
                    <font color="crimson">{{ form.group.errors }}</font>
                    {% endif %}

                    <div class="form-group">
                        <label>{{ form.cluster.label }}</label>
                        {{ form.cluster }}
                    </div>
                    {% if form.cluster.errors %}
                    <font color="crimson">{{ form.cluster.errors }}</font>
                    {% endif %}

                    <button type="submit" class="btn btn-xs btn-primary">Submit</button>
                </form>
                
            </div>
        </div>
    </div>
</section>
{% endblock %}